#page-wrapper{
	padding:100Px;
}
md-input-container {
    width: 100%;
	text-transform: uppercase;
}
.md-button{
	border-radius: 0px;
	margin: 20px 0px;
	font-weight: 700;
}
.md-input-container:not(.md-input-invalid).md-input-focused .md-input{
	border-color:#e47911;
}
#e47911