
        <div class="container-fluid">
            <h2 class="view-title">Dashboard</h2>
            <div class="row">
                <div class="col-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="module-wrapper">
                        <section class="module module-has-footer module-projects-overview">
                            <div class="module-inner">
                                <div class="module-heading">
                                    <h3 class="module-title">Overview</h3>
                                    <ul class="actions list-inline">
                                        
                                        <li><a class="collapse-module" data-toggle="collapse" href="index.html#content-overview" aria-expanded="false" aria-controls="content-overview"><span aria-hidden="true" class="icon arrow_carrot-up"></span></a>
                                        </li>
                                        <!-- <li><a class="close-module" href="index.html#"><span aria-hidden="true" class="icon icon_close"></span></a></li> -->
                                    </ul>

                                </div>

                                <div class="module-content collapse in" id="content-overview">
                                    <div class="module-content-inner">
                                        <ul class="data-list row text-center">
                                            <li class="item item-1 col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                <a href="projects.html">
                                                    <span aria-hidden="true" class="icon icon_toolbox_alt"></span>
                                                    <span class="data">{{rfqApplication}}</span>
                                                    <span class="desc">RFQ <br>Applications</span>
                                                </a>
                                            </li>
                                            <li class="item item-2 col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                <a href="tickets.html">
                                                    <span aria-hidden="true" class="icon icon_box-checked"></span>
                                                    <span class="data">{{orderDetails}}</span>
                                                    <span class="desc">Order<br> Details</span>
                                                </a>
                                            </li>
                                            <!-- <li class="item item-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
											<a href="discussions.html">
												<span aria-hidden="true" class="icon icon_chat_alt"></span>
												<span class="data">23</span>
												<span class="desc">New <br>Discussions</span>
											</a>
										</li> -->
                                            <li class="item item-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                <a href="invoice.html">
                                                    <span aria-hidden="true" class="icon icon_documents_alt"></span>
                                                    <span class="data">${{orderAmount}}</span>
                                                    <span class="desc">Order<br>Amount</span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>

                                </div>

                            </div>

                            <!-- <div class="module-footer text-center">
							<p class="meta">Time Period: 2 weeks (June 01 - June 14, 2016)</p>
						</div> -->

                        </section>

                    </div>
                    <div class="module-wrapper">
                        <section class="module module-projects-invoices">
                            <div class="module-inner">
                                <div class="module-heading">
                                    <h3 class="module-title">Latest Contract</h3>
                                    <ul class="actions list-inline">
                                        <!-- <li class="more-link">
										<a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
										<ul class="dropdown-menu">
											<li>
												<span class="arrow"></span>
												<a href="index.html#">Action 1</a>
											</li>
											<li><a href="index.html#">Action 2</a></li>
											<li><a href="index.html#">Action 3</a></li>
											<li role="separator" class="divider"></li>
											<li><a href="index.html#">Separated link</a></li>
										  </ul>
									</li> -->
                                        <li><a class="collapse-module" data-toggle="collapse" href="index.html#content-invoices" aria-expanded="false" aria-controls="content-invoices"><span aria-hidden="true" class="icon arrow_carrot-up"></span></a>
                                        </li>
                                        <!-- <li><a class="close-module" href="index.html#"><span aria-hidden="true" class="icon icon_close"></span></a></li> -->
                                    </ul>

                                </div>

                                <div class="module-content collapse in" id="content-invoices">
                                    <div class="module-content-inner">
                                        <div class="table-responsive">
                                            <table class="table table-simple table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="number">Ref.no</th>
                                                        <th>Product</th>
                                                        <th>Category</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
															<a class="label label-number-alt">
																A7-345
															</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="label label-number-alt">A6-335</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a  class="label label-number-alt">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a  class="label label-number-alt">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a  class="label label-number-alt">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="module-wrapper">
                        <section class="module module-projects-invoices">
                            <div class="module-inner">
                                <div class="module-heading">
                                    <h3 class="module-title">Upcoming Delivery</h3>
                                    <ul class="actions list-inline">
                                        
                                        <li><a class="collapse-module" data-toggle="collapse" href="index.html#content-invoices" aria-expanded="false" aria-controls="content-invoices"><span aria-hidden="true" class="icon arrow_carrot-up"></span></a>
                                        </li>
                                        <!-- <li><a class="close-module" href="index.html#"><span aria-hidden="true" class="icon icon_close"></span></a></li> -->
                                    </ul>

                                </div>

                                <div class="module-content collapse in" id="content-invoices">
                                    <div class="module-content-inner">
                                        <div class="table-responsive">
                                            <table class="table table-simple table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="number">Ref.no</th>
                                                        <th>Product</th>
                                                        <th>Category</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><a  class="label label-number-alt">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a  class="label label-number-alt" >A6-335</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="label label-number-alt">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="label label-number-alt">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="label label-number-alt" >A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </section>

                    </div>

                </div>

            </div>

        </div>
		

  