<div class="main-nav-wrapper">
    <nav id="main-nav" class="main-nav ">
      <ul id="menu">
        <li class="nav-dashboards">
          <a ui-sref="buyerdashboard">
            <span aria-hidden="true" class=" icon icon_house_alt"></span>
            <span class="nav-label">Dashboards</span>
            <!-- <span class="fa arrow"></span> -->
          </a>
        </li>
        <li class="nav-widgets ">
          <a ui-sref="trackorder">
            <span aria-hidden="true" class="icon icon_drawer_alt"></span>
            <span class="nav-label">Track Order</span>
            <!--  <span class="badge badge-primary">0</span> -->
          </a>
        </li>
        <li class="nav-app-pages">
          <a>
            <span aria-hidden="true" class="icon icon_building"></span>
            <span class="nav-label">Request for Quotation</span>
            <!-- <span class="badge badge-success">17</span> -->
            <span class="fa arrow"></span>
          </a>
          <ul class="sub-menu">
            <li class="">
              <a ui-sref="newrfq">
                <span class="nav-label">create new</span>
              </a>
            </li>
            <li class=" ">
              <a ui-sref="rfqhistory">
                <span class="nav-label">history / log</span>
              </a>
            </li>
          </ul>
        </li>
        <li class=" ">
          <a>
            <span aria-hidden="true" class="icon icon_puzzle"></span>
            <span class="nav-label">Orders</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="sub-menu">
            <li class=" ">
              <a ui-sref="contractlist">
                <span class="nav-label">View Contracts</span>
              </a>
            </li>
            <li class=" ">
              <a ui-sref="contracthistory">
                <span class="nav-label">History / Log</span>
              </a>
            </li>
            <li class=" ">
              <a ui-sref="contractstatus">
                <span class="nav-label">Status</span>
              </a>
            </li>
          </ul>
        </li>
        <li class=" ">
          <a>
            <span aria-hidden="true" class="icon icon_table"></span>
            <span class="nav-label">Messages</span>
            <span class="fa arrow"></span>
          </a>
          <ul class="sub-menu">
            <li class=" ">
              <a ui-sref="inbox">
                <span class="nav-label">Inbox </span>
                <span class="badge badge-primary">12</span>
              </a>
            </li>
            <li class=" ">
              <a ui-sref="compose">
                <span class="nav-label">Compose</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>