<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body ng-app="myApp">

<div class="container">

<div ng-controller="myCtrl">



 <div class="form-group">
	<label>Company Name</label>
    <input class="form-control" type="text" name="cmp_name" ng-model="cmp_name" id="cmp_name" />
 </div> 
 <div class="form-group">
	<label>Email</label>
    <input class="form-control" type="text" name="email" ng-model="email" id="email" />
 </div> 
 <div class="form-group">
	<label>Contact Person</label>
    <input class="form-control" type="text" name="cont_person" ng-model="cont_person" id="cont_person" />
 </div> 
 <div class="form-group">
	<label>Contact Number</label>
    <input class="form-control" type="text" name="cont_number" ng-model="cont_number" id="cont_number" />
 </div>
 <div class="form-group">
	<label>Alternative Number</label>
    <input class="form-control" type="text" name="alter_number" ng-model="alter_number" id="alter_number" />
 </div>
 <div class="form-group">
	<label>Designation</label>
    <input class="form-control" type="text" name="designation" ng-model="designation" id="designation" />
 </div>
 <div class="form-group">
	<label>Full Address</label>
    <textarea class="form-control" name="fl_adrs" ng-model="fl_adrs" id="fl_adrs"> </textarea>
 </div>
 <div class="form-group">
	<label>City</label>
    <input class="form-control" type="text" name="city" ng-model="city" id="city" />
 </div>
 <div class="form-group">
	<label>state</label>
    <input class="form-control" type="text" name="state" ng-model="state" id="state" />
 </div>
 <div class="form-group">
	<label>zip</label>
    <input class="form-control" type="text" name="zip" ng-model="zip" id="zip" />
 </div>
 <div class="form-group">
	<label>Country</label>
    <input class="form-control" type="text" name="country" ng-model="country" id="country" />
 </div>
 <div class="form-group">
  <button ng-click="submit()"  id="submit" > REGISTER </button>
 </div>


</div>



</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope,$http){
$scope.rfq = function(){	
var url="http://leecostechnology.com/api/ajax_rfq_page_insert.php";
var data = {
"usr_id":$scope.usr_id,
"contact_person":$scope.contact_person,
"contact_number":$scope.contact_number,
"company_name":$scope.company_name,
"product_name":$scope.product_name,
"product_catogry":$scope.product_catogry,
"no_of_parts":$scope.no_of_parts,
"material":$scope.material_selected,
"quantity":$scope.Quantity,
"delivery_date":$scope.delivery_date,
"estimated_cost":$scope.final_cost_with_margin,
"logistic_company":$scope.logistics_company,
"margin":$scope.margin_costprice,
"country":$scope.country,
"state":$scope.state,
"type_of_delivery":$scope.type_of_delivery,
"drawing_no":$scope.drawing_no,
"need_sample":$scope.need_sample,
"material_grade":$scope.grade,
"unit":$scope.measurement,
"turning":$scope.turning_req,
"step_turning":$scope.step_turning_req,
"boring":$scope.boring_req,
"external_threading":$scope.external_threading_req,
"internal_threading":$scope.Internal_threading_req,
"knurling":$scope.Knurling_req,
"anodising":$scope.Anodising,
"enp":$scope.ENP,
"chrome_plating":$scope.Chrome_Plating,
"nickel_plating":$scope.Nickel_Plating,
"zinc_plating":$scope.Zinc_Plating,
"chemical_black":$scope.Chemical_Black,
"heat_treatment":$scope.Heat_treatment,
"case_hardening":$scope.Case_Hardening,
"blasting":$scope.Blasting,
"passivation":$scope.Passivation,
"poder_coating":$scope.Powder_coating,
"laser_engraning":$scope.Laser_Engraving,
"tumbling":$scope.Tumbling,
"spray_painting":$scope.Spray_Painting,
"turning_dia":$scope.dia,
"turning_length":$scope.length,
"no_of_step_turning":$scope.no_step_turning,
"step_turning_dia1":step_turning_dia_1,
"step_turning_dia2":step_turning_dia_2,
"step_turning_dia3":step_turning_dia_3,
"step_turning_dia4":step_turning_dia_4,
"step_turning_dia5":step_turning_dia_5,
"step_turning_length1":step_turning_length_1,
"step_turning_length2":step_turning_length_2,
"step_turning_length3":step_turning_length_3,
"step_turning_length4":step_turning_length_4,
"step_turning_length5":step_turning_length_5,
"no_of_boring":$scope.no_step_boring,
"boring_dia1":$scope.boring_dia_1,
"boring_dia2":$scope.boring_dia_2,
"boring_dia3":$scope.boring_dia_3,
"boring_dia4":$scope.boring_dia_4,
"boring_dia5":$scope.boring_dia_5,
"boring_length1":$scope.boring_length_1,
"boring_length2":$scope.boring_length_2,
"boring_length3":$scope.boring_length_3,
"boring_length4":$scope.boring_length_4,
"boring_length5":$scope.boring_length_5,
"no_of_external_threading":$scope.no_step_external_threading,
"external_threading_dia1":external_threading_dia_1,
"external_threading_dia2":external_threading_dia_2,
"external_threading_dia3":external_threading_dia_3,
"external_threading_dia4":external_threading_dia_4,
"external_threading_dia5":external_threading_dia_5,
"external_threading_length1":external_threading_length_1,
"external_threading_length2":external_threading_length_2,
"external_threading_length3":external_threading_length_3,
"external_threading_length4":external_threading_length_4,
"external_threading_length5":external_threading_length_5,
"external_threading_pitch1":external_threading_pitch_1,
"external_threading_pitch2":external_threading_pitch_2,
"external_threading_pitch3":external_threading_pitch_3,
"external_threading_pitch4":external_threading_pitch_4,
"external_threading_pitch5":external_threading_pitch_5,
"no_of_Internal_threading":$scope.no_step_Internal_threading,
"internal_threading_dia1":Internal_threading_dia_1,
"internal_threading_dia2":Internal_threading_dia_2,
"internal_threading_dia3":Internal_threading_dia_3,
"internal_threading_dia4":Internal_threading_dia_4,
"internal_threading_dia5":Internal_threading_dia_5,
"internal_threading_length1":Internal_threading_length_1,
"internal_threading_length2":Internal_threading_length_2,
"internal_threading_length3":Internal_threading_length_3,
"internal_threading_length4":Internal_threading_length_4,
"internal_threading_length5":Internal_threading_length_5,
"internal_threading_pitch1":Internal_threading_pitch_1,
"internal_threading_pitch2":Internal_threading_pitch_2,
"internal_threading_pitch3":Internal_threading_pitch_3,
"internal_threading_pitch4":Internal_threading_pitch_4,
"internal_threading_pitch5":Internal_threading_pitch_5,
"knurling_type":$scope.knurl_type,
"knurling_dia":knurling_dia_1,
"knurling_length":knurling_length_1,
"additional_treatments":$scope.additional_treatments,
"comments":$scope.comments,
"drawing_count":$scope.drawing_count,
"drawing1":$scope.drawing1,
"drawing2":$scope.drawing2,
"drawing3":$scope.drawing3,
"drawing4":$scope.drawing4,
"dropbox_link":$scope.dropbox_link,
"additional_cost":$scope.additional_cost,
"air_freight_cost":$scope.air_freight_cost,
"labour_cost":$scope.labour_cost,
"packing_cost":$scope.package_cost,
"final_cost":$scope.final_cost_with_margin
}
	

var successCallback = function(result){
alert(result.data);
$scope.aa = result.data;
console.log(result);};
var errorCallback = function(){alert("221");};
$http.post(url, data,{headers: {"Content-Type": "application/x-www-form-urlencoded"} }).then(successCallback, errorCallback);


return $scope.aa;

}
 $scope.submit = function(){  
  var  data={
   "cmp_name": $scope.cmp_name,
    "email":$scope.email,
	"cont_person":$scope.cont_person,
	"cont_number":$scope.cont_number,
    "alter_number":$scope.alter_number,
	"designation":$scope.designation,
    "full_adrs":$scope.fl_adrs,
    "city":$scope.city,
    "state":$scope.state,
	"zip":$scope.zip,
	"country":$scope.country
	};
	var url="http://www.leecostechnology.com/api/ajax_regis.php";
var successCallback = function(result){
console.log(result);
};
var errorCallback = function(){alert("221");};
$http.post(url, data,{headers: {"Content-Type": "application/x-www-form-urlencoded"} }).then(successCallback, errorCallback);
};
});

</script>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>


</script>
</body>
</html>

