
  
<div class="ltr wide page-node-21">
   <a href="#main-content" class="visually-hidden focusable">
      Skip to main content
    </a>
    <div class="inv-body-inner default">
        <div id="section-top-header" class="inv-section">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <!-- .region-header-top-left-->
                        <div class="inv-region region-header_top_left col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div id="block-topleftsologan" class="block">
                                <div>
                                    <div>
                                        <div class="introduce-text">
                                            <a href="#">E-brochure & Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END .region-header-top-left-->
                        <!-- .region-header-top-right-->
                        <div class="inv-region region-header_top_right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <nav role="navigation" aria-labelledby="block-topnavigation-menu" id="block-topnavigation">
                                <h2 class="visually-hidden">Top Navigation</h2>
                                <ul class="list-unstyled list-inline list">
                                    <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href=""><i class="fa fa-google" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- END .region-header-top-right-->
                    </div>
                </div>
            </div>
        </div>
        <div id="section-header" class="inv-section">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <!-- .region-logo-->
                        <div class="inv-region region-logo col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div id="block-sitebranding" class="block">
                                <div>
                                    <a href="index.html" title="Home" rel="home">
                                        <img src="assets/images/logo-1.png" alt="Home" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- END .region-logo-->
                        <!-- .region-header-contact-->
                        <div class="inv-region region-header_contact col-xs-12 col-sm-8 col-md-8 col-lg-8" style="top:10px;">
                            <div id="block-topcontactinformation" class="block">
                                        <div class="pull-right upper-right">
                                            <!--Info Box-->
                                            <button class="btnsignin" data-toggle="modal" data-target="#mysignup" type="button" name="button" id="signin">Create Account
                                            </button>
                                            <div class="modal " id="mysignup" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Register</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group col-lg-12">
                                                                <input class="form-control" type="text" placeholder="company Name" name="cmp_name" ng-model="cmp_name" id="cmp_name" />
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                <input class="form-control" type="text" placeholder="Email" name="email" ng-model="email" id="email" />
                                                            </div>
                                                            <div class="form-group col-lg-12 ">
                                                                <input class="form-control" type="text" placeholder="Password" name="pass" ng-model="pass" id="pass" />
                                                            </div>
                                                            <div class="form-group  col-lg-6">
                                                                <input class="form-control" type="text" placeholder="Contact Person" name="cont_person" ng-model="cont_person" id="cont_person" />
                                                            </div>
                                                            <div class="form-group  col-lg-6">
                                                                <input class="form-control" type="text" placeholder="Contact Number" name="cont_number" ng-model="cont_number" id="cont_number" />
                                                            </div>
                                                            <div class="form-group  col-lg-6">
                                                                <input class="form-control" type="text" placeholder="Alternative Number" name="alter_number" ng-model="alter_number" id="alter_number" />
                                                            </div>
                                                            <div class="form-group  col-lg-6">
                                                                <input class="form-control" type="text" placeholder="Designation" name="designation" ng-model="designation" id="designation" />
                                                            </div>
                                                            <div class="form-group  col-lg-12">
                                                                <textarea class="form-control" name="fl_adrs" placeholder="Full Address" ng-model="fl_adrs" id="fl_adrs"> </textarea>
                                                            </div>
                                                            <div class="form-group  col-lg-6">
                                                                <input class="form-control" type="text" placeholder="City" name="city" ng-model="city" id="city" />
                                                            </div>
                                                            <div class="form-group  col-lg-6">
                                                                <input class="form-control" type="text" placeholder="State" name="state" ng-model="state" id="state" />
                                                            </div>
                                                            <div class="form-group  col-lg-6">
                                                                <input class="form-control" type="text" placeholder="Zip" name="zip" ng-model="zip" id="zip" />
                                                            </div>
                                                            <div class="form-group  col-lg-6">
                                                                <input class="form-control" type="text" placeholder="Country" name="country"  ng-model="country" id="country" />
                                                            </div>
                                                            <div class="form-group">
                                                                <button ng-click="register()" class="btn btn-primary" id="submit"> REGISTER </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="btnsignout" data-toggle="modal" data-target="#mylogin" type="button" name="button" id="signout"> Login </button>

                                            <div class="modal " id="mylogin" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Login</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" placeholder="User Name" name="username" ng-model="username" id="username" />
                                                            </div>
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" placeholder="Password" name="pwd"  ng-model="pwd" id="pwd" />
                                                            </div>
                                                            <input type="button" class="btn btn-primary" id="log" ng-click="login()" value="LOGIN" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                            </div>
                        </div>
                        <!-- END .region-header-contact-->
                    </div>
                </div>
            </div>
        </div>
		
        <div id="section-navigation" class="inv-section">
            <div class="section-inner">
                <div class="container">
                    <div style="text-align:center;">
						<nav class="navbar navbar-inverse">
							<div class="">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>                        
									</button>
									
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<ul class="nav navbar-nav">
										<li><a href="#">Who We Are ?</a></li>
										<!-- <li class="dropdown">
											<a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="#">Who We Are ?</a></li>
												<li><a href="#">Hire EZEE Machining</a></li>
												<li><a href="#">How It Works ?</a></li>
												<li><a href="#">Capabilities</a></li>
												<li><a href="#">Processes</a></li>
												<li><a href="#">Quality Assurance</a></li>
												<li><a href="#">RFQ</a></li>
											</ul>
										</li> -->
										<li><a href="#">Hire EZEE Machining</a></li>
										<li><a href="#">How It Works ?</a></li>
										<li><a href="#">Capabilities</a></li>
										<li><a href="#">Processes</a></li>
										<li><a href="#">Quality Assurance</a></li>
										<li><a href="#">RFQ</a></li>
									</ul>
								</div>
							</div>
						</nav>
                        <!-- .region-navigation-->
                    </div>
                </div>
            </div>
        </div>
        <div id="section-slider" class="inv-section">
            <div class="section-inner">
                <div class="inv-container">
                    <div class="row">
                        <!-- .region-slider-->
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="assets/images/slider-1.jpg" alt="slider1">
                                    <div class="carousel-caption">
                                        <h3>EZEE Machining Is The Online Machine Shop Where You <br/>Can Get Done Your Custom CNC Machined Parts.</h3>
                                        <a class="theme-btn btn-style-one" href="#" >Sign Up Now<i class='inv-icon icon-right flaticon-arrows-10'></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="assets/images/slider-2.jpg" alt="slider1">
                                    <div class="carousel-caption">
                                        <h3>Instant Quote For CNC Turned Parts Using Our Scientific Based Costing Method</h3>
                                        <a class="theme-btn btn-style-two" href="#" >Get a Instant Quote<i class='inv-icon icon-right flaticon-arrows-10'></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="assets/images/slider-1.jpg" alt="slider1">
                                    <div class="carousel-caption">
                                        <h3>EZEE Machining Is The Online Machine Shop Where You <br/>Can Get Done Your Custom CNC Machined Parts.</h3>
                                        <a class="theme-btn btn-style-one" href="#" >Sign Up Now<i class='inv-icon icon-right flaticon-arrows-10'></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END .region-slider-->
        <div class="views-element-container block" id="block-views-block-video-block-1" style="padding:40px 0">
            <div class="col-lg-6">
                <article data-history-node-id="17" role="article" about="/node/17" class="testi-item">
                    <div class="testi-box clearfix full-text">
                        <div class="title-wrapper text-center no-space-responsive">
                            <h3 class="title">About <span class="text-color">Ezee Machine</span></h3>
                        </div>
                        <div class="text-content inv-box-shortcode">
                            <div>
                                <p>EZEEMachining is the online machine shop that enables any company or organization to instantly order, track and receive custom machined mechanical jobs from anywhere on the global.</p>
                                <p>Having decades of experience in manufacturing and supplying of CNC machined parts to our global clients, we have created this online machine shop platform to provide easy, convenient and low-cost manufacturing of custom parts via the web from anywhere, anytime. We achieve this by fully leveraging the web, software, and state-of-the-art machining technologies.</p>
                            </div>
                            <div class='readmore-box' style="float:right;margin-top: -20px;"><a href='#'><span>Read more</span></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-6 video-responsive">
                <iframe width="645" height="265" src="https://www.youtube.com/embed/8T-ZE6_NqJo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="how-works-box col-lg-12 " style="padding:40px 0 40px 0">
            <div class="container-fluid">
				<div class="col-lg-4">
					<div class="inner-content">
						<h3>How it works</h3>
						<ul class="styled-steps">
							<li><span class="count">1</span><span class="small-text">Sign up with</span>Ezee Machining</li>
							<li class="first"><span class="count">2</span><span class="small-text">Login your</span>Account</li>
							<li class="second"><span class="count">3</span><span class="small-text">Enter your job </span>Details</li>
							<li class="third"><span class="count">4</span><span class="small-text">Get an Instant</span>Quote</li>
							<li class="fourth"><span class="count">5</span><span class="small-text">Upload drawings to </span>place order</li>
							<li class="fifth"><span class="count">6</span><span class="small-text">Delivery of parts within</span>promised date</li>
						</ul>
					</div>
                </div>
				<div class="col-lg-4 ">
					<div class="inner-content" style="height:415px" >
						<h3>Protect Intellectual property </h3>
						<p>Protect Intellectual Property of the customers through NDA</p>
	
						<p>Buyer Download the NDA signed by Ezeemaching before<br> they share their data and information about their drawings and specifications.</p>
						<a href="">Read more</a>
					</div>
				</div>
				<div class="col-lg-4 ">
					<div class="inner-content" style="height:415px" >
						<h3>Our procedures </h3>
						<ul class="styled-steps">
							<li><span class="count">1</span>Quality  Procedure</li>
							<li class="first"><span class="count">2</span>Order Procedure</li>
							<li class="second"><span class="count">3</span>Sample Procedure</li>
							<li class="fourth"><span class="count">4</span>RFQ Procedure</li>
							<li class="fifth"><span class="count">5</span>Registration Procedure</li>
						</ul>
					</div>
				</div>
            </div>
        </div>
        <div id="section-main-content " class="inv-section clearfix">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <!-- .region-content-->

                        <div>
                            <div class="title-wrapper text-center">
                                <h3 class="title">What kind of<span class="text-color">job</span></h3>
                            </div>
                            <div id="project" class="carousel slide clearfix" data-ride="product">
                                <div>

                                    <ol class="carousel-indicators">
                                        <li data-target="#project" data-slide-to="0" class="active"></li>
                                        <li data-target="#project" data-slide-to="1"></li>
                                        <li data-target="#project" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Carousel items -->
                                    <div class="carousel-inner">

                                        <div class="item active">
                                            <div class="row-fluid">
                                                <div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-1.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-2.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-3.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-4.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
												<div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-5.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
												<div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-1.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <!--/row-fluid-->
                                        </div>
                                        <!--/item-->

                                        <div class="item">
                                            <div class="row-fluid">
                                                <div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-2.jpg" alt="Image" style="max-width:100%;" /><a class="carousel-caption" >Product</a>
                                                    </p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-3.jpg" alt="Image" style="max-width:100%;" /><a class="carousel-caption" >Product</a>
                                                    </p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-4.jpg" alt="Image" style="max-width:100%;" /><a class="carousel-caption" >Product</a>
                                                    </p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-5.jpg" alt="Image" style="max-width:100%;" /><a class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
												<div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-3.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
												<div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-1.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <!--/row-fluid-->
                                        </div>
                                        <!--/item-->

                                        <div class="item">
                                            <div class="row-fluid">
                                                <div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-2.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-3.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <a href="#x"><img src="assets/images/product-4.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </a>
                                                </div>
                                                <div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-5.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
												<div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-2.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
												<div class="col-lg-2">
                                                    <p href="#x"><img src="assets/images/product-1.jpg" alt="Image" style="max-width:100%;" /><a  class="carousel-caption"  >Product</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <!--/row-fluid-->
                                        </div>
                                        <!--/item-->

                                    </div>
                                    <!--/carousel-inner-->

                                </div>
                                <!--/myCarousel-->

                            </div>
                        </div>


                        <div id="block-servicebox" style="padding:40px 0 0 0" class="block">
                            <div>
                                <div>
                                    <p>
                                        <div class="title-wrapper text-center">
                                            <h3 class="title">Our <span class="text-color">Capabilities</span></h3>
                                            <p class="subtitle">Claritas est etiam processus dynamicus, qui sequitur
                                                <br /> mutationem consuetudium lectorum.</p>
                                        </div>
                                    </p>

                                    <p>
                                        <div class='row'>
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="inv-animate" data-animate-delay="0" data-animate="fadeInUp">
                                                    <div class="innovation-shortcode-box box-center box-none inv-box-shortcode mb-30">
                                                        <div class="inner-box">
                                                            <div class="inner-most">
                                                                <div class="box-image">
                                                                    <img alt="" src="assets/images/featured-image-1.jpg">
                                                                </div>
                                                                <div class="lower-part">
                                                                    <div class="box-content-wrapper">
                                                                        <h3 class="box-title">Machine Capablities</h3>
                                                                        <div class="box-content">
                                                                            Claritas est etiam processus dynamicus, qui sequitur mutationem.
                                                                        </div>
                                                                        <div class='readmore-box'><a href='#'><span>Read more</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="inv-animate" data-animate-delay="0.3" data-animate="fadeInUp">
                                                    <div class="innovation-shortcode-box box-center box-none inv-box-shortcode mb-30">
                                                        <div class="inner-box">
                                                            <div class="inner-most">
                                                                <div class="box-image">
                                                                    <img alt="" src="assets/images/featured-image-2.jpg">
                                                                </div>
                                                                <div class="lower-part">
                                                                    <div class="box-content-wrapper">
                                                                        <h3 class="box-title">Quality System</h3>
                                                                        <div class="box-content">
                                                                            Claritas est etiam processus dynamicus, qui sequitur mutationem.
                                                                        </div>
                                                                        <div class='readmore-box'><a href='#'><span>Read more</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <div class="inv-animate" data-animate-delay="0.6" data-animate="fadeInUp">
                                                    <div class="innovation-shortcode-box box-center box-none inv-box-shortcode mb-30">
                                                        <div class="inner-box">
                                                            <div class="inner-most">
                                                                <div class="box-image">
                                                                    <img alt="" src="assets/images/featured-image-3.jpg">
                                                                </div>
                                                                <div class="lower-part">
                                                                    <div class="box-content-wrapper">
                                                                        <h3 class="box-title">Logistics Networking & SCM</h3>
                                                                        <div class="box-content">
                                                                            Claritas est etiam processus dynamicus, qui sequitur mutationem.
                                                                        </div>
                                                                        <div class='readmore-box'><a href='#'><span>Read more</span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END .region-content-->
                </div>
            </div>
        </div>
        <div id="section-bottom-content" class="inv-section">
            <div class="section-inner">
                <div class="inv-container">
                    <div class="row">
                        <!-- .region-bottom-content-->
                        <div class="inv-region region-bottom_content col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div id="block-introduction" class="introduction block" style="background-image:url(/assets/images/image-1.jpg);background-position:center center;background-size:cover">
                                <div class="container">
                                    <div>
                                        <p>
                                            <div class='row'>
                                                <div class="col-md-10 col-sm-12 col-xs-12 pull-right padd-right-0">
                                                    <!--Content Box-->
                                        </p>
                                        <div class="content-box">
                                            <div class='row clearfix'>
                                                <div class="col-md-9 col-sm-12">
                                                    <h3>So what are you waiting for?</h3>

                                                    <div class="text">Get instant Quote and then signup to create your Account</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 pull-right">

                                                    <div class="text-right padd-top-20"><a class="theme-btn btn-style-three" href="contact-us.html">SIGN UP
 <i class='inv-icon icon-right flaticon-arrows-10'></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>
                                            </div>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="views-element-container block clearfix" id="block-views-block-testimonial-block-1" style="padding:50px 0 60px 0px">
                        					<header>
                                                <div class="title-wrapper text-center">
                                                    <h3 class="title">Still Not<span class='text-color'> Convinced ?</span></h3>
                                                    <p class="subtitle">Here are just some of our latest works and client testimonials</p>
                                                </div>
                                            </header>
                       
						</div>
							<div class="views-element-container block clearfix" id="block-views-block-testimonial-block-1" style="padding:50px 0 60px 0px">
                                <div class="container slide-contain">
                                    <div>
						                <div class="js-view-dom-id-326697cacdb754d76b6288d1abf3d96acf348e4bc39853484e47471b9926c5bf">
                                            <div id="content-slide" class="carousel slide" data-ride="carousel">
                                                <!-- Indicators -->

                                                <div class="col-lg-12 col-sm-12 box-slide">

                                                    <!-- Wrapper for slides -->
                                                    <div class="carousel-inner" role="listbox">
                                                        <div class="item active">
                                                            <article data-history-node-id="40" role="article" about="/node/40" class="testi-item">
                                                                <div class="testi-box slide-pad clearfix">
                                                                    <figure class="author-thumb">
                                                                        <div>
                                                                            <div> <img src="assets/images/logo-1.jpg" class="img-responsive" width="70" height="70" alt="" typeof="foaf:Image" />
                                                                            </div>
                                                                        </div>
                                                                        <!--Info Box-->
                                                                        <div class="info-box">

                                                                            <div class="content">
                                                                                <h4>Company</h4>
                                                                                <div class="designation">
                                                                                    <div>Name</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--Info Box-->
                                                                    </figure>
                                                                    <div class="text-content">
                                                                        <div>
                                                                            <p>This is photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </article>
                                                        </div>
                                                        <div class="item">
                                                            <article data-history-node-id="40" role="article" about="/node/40" class="testi-item">
                                                                <div class="testi-box slide-pad no-space clearfix">
                                                                    <figure class="author-thumb">
                                                                        <div>
                                                                            <div> <img src="assets/images/logo-1.jpg" width="70" height="70" alt="" typeof="foaf:Image" />
                                                                            </div>
                                                                        </div>
                                                                        <!--Info Box-->
                                                                        <div class="info-box">
                                                                            \
                                                                            <div class="content">
                                                                                <h4>Company</h4>
                                                                                <div class="designation">
                                                                                    <div>Name</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--Info Box-->
                                                                    </figure>
                                                                    <div class="text-content">
                                                                        <div>
                                                                            <p>This is photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </article>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="block-introduction" class="introduction block" style="background-image:url(assets/images/image-1.jpg);background-position:center center;background-size:cover;margin-bottom:20px;">
                                <div class="container">
                                    <div>
										<p>
                                            <div class='row'>
                                                <div class="col-md-10 col-sm-12 col-xs-12 pull-right padd-right-0">
                                                    <!--Content Box-->
                                        </p>

                                        <div class="content-box">
                                            <div class='row clearfix'>
                                                <div class="col-md-7 col-sm-12">
                                                    <div class="title-wrapper" style="margin-bottom:10px;">
                                                        <h3 class="title no-shadow">Not sure where to start ?<span class='text-color'> You can proceed from here!</span></h3>
                                                    </div>

                                                    <div class="text">We can provide you an Instant Quote for job details and order online. If your job involves additional machine operation, you can upload the CAD drawing to get a exact quote within 24 working hours.</p>

                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-sm-12 pull-right">

                                                    <div class="text-right padd-top-20" style=""><a class="theme-btn btn-style-three" href="contact-us.html">Get Instant Quote
 <i class='inv-icon icon-right flaticon-arrows-10'></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
										<p>
												</div>
											</div>
										</p>
                                    </div>
                                </div>
                            </div>

                            <div class="final-block" style="padding:40px 0 40px 0">
                                <div class="container-fluid">
                                    <div class="title-wrapper text-center">
                                        <h3 class="title">Frequently Asked<span class="text-color"> Questions </span></h3>
                                    </div>
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Protecting your IP</a>
									</h4>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad<a href="" style="float:right;" >Read More</a> </div>
												
											</div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Non-disclosure Agreement</a>
									</h4>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad<a href="" style="float:right;" >Read More</a> </div>
												
											</div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">QA & QC Procedures</a>
									</h4>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <a href="" style="float:right;" >Read More</a></div>

											</div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">RFQ for Millingsworks</a>
									</h4>
                                            </div>
                                            <div id="collapse4" class="panel-collapse collapse">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <a href="" style="float:right;" >Read More</a></div>
												
											</div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">How to make Payment</a>
									</h4>
                                            </div>
                                            <div id="collapse5" class="panel-collapse collapse">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <a href="" style="float:right;" >Read More</a></div>
												
											</div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">How to track the progress</a>
									</h4>
                                            </div>
                                            <div id="collapse6" class="panel-collapse collapse">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad<a href="" style="float:right;" >Read More</a></div>
												
											</div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Supply Chain Management</a>
									</h4>
                                            </div>
                                            <div id="collapse7" class="panel-collapse collapse">
                                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <a href="" style="float:right;" >Read More</a></div>
												
											</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- END .region-bottom-content-->
                    </div>
                </div>
            </div>
        
        <div id="section-footer" class="inv-section">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <!-- .region-footer-first-->
                        <div class="inv-region region-footer_first col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div id="block-aboutfooterwidget" class="block">
                                <div>
                                    <div>
                                        <div class="about-footer">
                                            <div class="footer-logo"><img alt="Logo Footer" data-entity-type="file" data-entity-uuid="eaaf5a9c-b9a8-4acc-b69b-3df99d82c1ef" src="assets/images/logo-2.png" />
                                            </div>
                                            <div class="text">
                                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolo re eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END .region-footer-first-->
                        <!-- .region-footer-second-->
                        <div class="inv-region region-footer_second col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div id="block-innovationflickr" class="block">
                                <h2 class="block-title">Flickr</h2>
                                <div>
                                    <div class="innovation-flickr">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END .region-footer-second-->
                        <!-- .region-footer-third-->
                        <div class="inv-region region-footer_third col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div id="block-businesshours" class="block">
                                <h2 class="block-title">Business Hours</h2>

                            </div>
                        </div>
                        <!-- END .region-footer-third-->
                        <!-- .region-footer-fourth-->
                        <div class="inv-region region-footer_fourth col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div id="block-addressfooter" class="block">
                                <h2 class="block-title">Address</h2>
                                <div>
                                    <div>
                                        <ul class="contact-info">
                                            <li><strong>Head Office:</strong> #33, Kamarajar Road, TASS Industrial Estate, Ambattur, Chennai - 600 032, India.</li>
                                            <li><strong>Phone:</strong> +0091-98849 40545
                                                <br /> +0091-4211 8690
                                            </li>
                                        </ul>
                                        <div class="social-links"><a href=""><i class="inv-icon fa fa-youtube-play icon-circle" aria-hidden="true"></i></a><a href=""><i class="inv-icon fa fa-linkedin icon-circle" aria-hidden="true"></i></a><a href=""><i class="inv-icon fa fa-google icon-circle" aria-hidden="true"></i></a><a href='' target='_blank'><i class='inv-icon fa fa-facebook-f icon-circle'></i></a> <a href='' target='_blank'><i class='inv-icon fa fa-twitter icon-circle'></i></a> <a href=""><i class="inv-icon fa fa-envelope-o icon-circle" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END .region-footer-fourth-->
                    </div>
                </div>
            </div>
        </div>
        <div id="section-bottom" class="inv-section">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <!-- .region-bottom-first-->
                        <div class="inv-region region-bottom_first col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div id="block-copyright" class="block">
                                <div>
                                    <div>
                                        <div class="copyright-text">© Copyright 2016 Ezee Machining, All Rights Reserved</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END .region-bottom-first-->
                        <!-- .region-bottom-second-->
                        <div class="inv-region region-bottom_second col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div id="block-designedby" style="text-align:right" class="block">
                                <div>
                                    <div>
                                        <div class="info-text">Design and Developed by<a href="http://www.dewpondtechnologies.com/" target="_blank"> Dewpond Technologies</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END .region-bottom-second-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
