<div ng-controller="accountController">



 <div class="form-group">
	<label>Company Name</label>
    <input class="form-control" type="text" name="cmp_name" ng-model="cmp_name" id="cmp_name" />
 </div> 
 <div class="form-group">
	<label>Email</label>
    <input class="form-control" type="text" name="email" ng-model="email" id="email" />
 </div> 
 <div class="form-group">
	<label>Contact Person</label>
    <input class="form-control" type="text" name="cont_person" ng-model="cont_person" id="cont_person" />
 </div> 
 <div class="form-group">
	<label>Contact Number</label>
    <input class="form-control" type="text" name="cont_number" ng-model="cont_number" id="cont_number" />
 </div>
 <div class="form-group">
	<label>Alternative Number</label>
    <input class="form-control" type="text" name="alter_number" ng-model="alter_number" id="alter_number" />
 </div>
 <div class="form-group">
	<label>Designation</label>
    <input class="form-control" type="text" name="designation" ng-model="designation" id="designation" />
 </div>
 <div class="form-group">
	<label>Full Address</label>
    <textarea class="form-control" name="fl_adrs" ng-model="fl_adrs" id="fl_adrs"> </textarea>
 </div>
 <div class="form-group">
	<label>City</label>
    <input class="form-control" type="text" name="city" ng-model="city" id="city" />
 </div>
 <div class="form-group">
	<label>state</label>
    <input class="form-control" type="text" name="state" ng-model="state" id="state" />
 </div>
 <div class="form-group">
	<label>zip</label>
    <input class="form-control" type="text" name="zip" ng-model="zip" id="zip" />
 </div>
 <div class="form-group">
	<label>Country</label>
    <input class="form-control" type="text" name="country" ng-model="country" id="country" />
 </div>
 <div class="form-group">
  <button ng-click="register()"  id="submit" > REGISTER </button>
 </div>
 
 <div class="form-group">
	<label>Username</label>
    <input class="form-control" type="text" name="username" ng-model="username" id="username" />
 </div>
 <div class="form-group">
	<label>Country</label>
    <input class="form-control" type="password" name="pwd" ng-model="pwd" id="pwd" />
 </div>
 <div class="form-group">
  <button ng-click="login()"  id="submit" > login </button>
 </div>
 
 
 


</div>