 <div class="container-fluid">
            <h2 class="view-title">Contract History Log</h2>
            <div class="row">
                <div class="col-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="module-wrapper">
                        <section class="module module-projects-invoices">
                            <div class="module-inner">
                                <div class="module-heading">
                                    <h3 class="module-title">Contract History</h3>
                                    <ul class="actions list-inline">
                                        <li><a class="collapse-module" data-toggle="collapse" href="index.html#content-invoices" aria-expanded="false" aria-controls="content-invoices"><span aria-hidden="true" class="icon arrow_carrot-up"></span></a>
                                        </li>
									</ul>
                                </div>
                                <div class="module-content collapse in" id="content-invoices">
                                    <div class="module-content-inner">
                                        <div class="table-responsive">
                                            <table class="table table-simple table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Invoice</th>
                                                        <th>Date</th>
                                                        <th>Order No</th>
                                                        <th>Ref.no</th>
                                                        <th>Part no</th>
                                                        <th>Product Name</th>
                                                        <th>Quantity</th>
                                                        <th>Delivery Date</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
															<a class="label label-number-alt">
																invoice
															</a>
                                                        </td>
                                                        <td><a href="l">Sep 23, 2016</a>
                                                        </td>
														<td>
															<a href="l"  data-toggle="modal" data-target="#myModal" >#756</a>
                                                        </td>
                                                        <td><a href=""></a><a href="invoice.html">#5656</a>
                                                        </td>
														<td><a href=""></a><a href="invoice.html">#5656</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Household</a>
                                                        </td>
														<td class="date truncate">5000
                                                        </td>
														<td class="date truncate"><a href="invoice.html">jan 23, 2017</a>
                                                        </td>
														<td class="date truncate"><a href="invoice.html">packing</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
															<a class="label label-number-alt">
																invoice
															</a>
                                                        </td>
                                                        <td><a href="l">Sep 23, 2016</a>
                                                        </td>
														<td>
															<a href="l"  data-toggle="modal" data-target="#myModal" >#756</a>
                                                        </td>
                                                        <td><a href=""></a><a href="invoice.html">#5656</a>
                                                        </td>
														
														<td><a href=""></a><a href="invoice.html">#5656</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Household</a>
                                                        </td>
														<td class="date truncate">5000
                                                        </td>
														<td class="date truncate"><a href="invoice.html">jan 23, 2017</a>
                                                        </td>
														<td class="date truncate"><a href="invoice.html">packing</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
															<a class="label label-number-alt">
																invoice
															</a>
                                                        </td>
                                                        <td><a href="l">Sep 23, 2016</a>
                                                        </td>
														<td>
															<a href="l"  data-toggle="modal" data-target="#myModal" >#756</a>
                                                        </td>
														<td>
															<a href="l"  data-toggle="modal" data-target="#myModal" >#756</a>
                                                        </td>
                                                        <td><a href=""></a><a href="invoice.html">#5656</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Household</a>
                                                        </td>
														<td class="date truncate">5000
                                                        </td>
														<td class="date truncate"><a href="invoice.html">jan 23, 2017</a>
                                                        </td>
														<td class="date truncate"><a href="invoice.html">packing</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
															<a class="label label-number-alt">
																invoice
															</a>
                                                        </td>
                                                        <td><a href="l">Sep 23, 2016</a>
                                                        </td>
														<td>
															<a href="l" data-toggle="modal" data-target="#myModal" >#756</a>
                                                        </td>
														<td>
															<a href="l" data-toggle="modal" data-target="#myModal" >#756</a>
                                                        </td>
                                                        <td><a href=""></a><a href="invoice.html">#5656</a>
                                                        </td>
														<td><a href=""></a><a href="invoice.html">#5656</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Household</a>
                                                        </td>
														<td class="date truncate">5000
                                                        </td>
														<td class="date truncate"><a href="invoice.html">jan 23, 2017</a>
                                                        </td>
														<td class="date truncate"><a href="invoice.html">packing</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
															<a class="label label-number-alt">
																invoice
															</a>
                                                        </td>
                                                        <td><a href="l">Sep 23, 2016</a>
                                                        </td>
														<td>
															<a href="l"  data-toggle="modal" data-target="#myModal" >#756</a>
                                                        </td>
                                                        <td><a href=""></a><a href="invoice.html >#5656</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Household</a>
                                                        </td>
														<td class="date truncate">5000
                                                        </td>
														<td class="date truncate"><a href="invoice.html">jan 23, 2017</a>
                                                        </td>
														<td class="date truncate"><a href="invoice.html">packing</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
					<div id="myModal" class="modal fade" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content ">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title " style="float:left">Ref No :<b> {{data.Ref_NO}}</b></h4>
										<h4 class="modal-title " >Contract No :<b> {{data.Contract_NO}}</b></h4>
									</div>
									<div class="modal-body clearfix">
										<div class="layout-gt-sm-row" layout-gt-sm="row" >
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">			
														<p>Payment Status :<b> {{rfq.Payment_status}}</b></p>
														<p>Mode of Payment :<b> {{rfq.mode_of_payment}}</b></p>
														<p>No of Deliverable :<b> {{rfq.deliverable}}</b></p>
														<p>Deliverd :<b> {{rfq.deliverd}}</b></p>
														<p>Pending :<b> {{rfq.pending}}</b></p>
											</md-input-container>
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
														<p>Contract Date :<b> {{rfq.contract_date}}</b></p>
														<p>Delivery Date :<b> {{rfq.delivery_date}}</b></p>
														<p>Delivery Type :<b> {{rfq.delivery_type}}</b></p>
														<p>Deadline :<b> {{rfq.deadline}}</b></p>
														<p>Status :<b> {{rfq.status}}</b></p>
											</md-input-container>
										</div>
										<div class="layout-gt-sm-row" layout-gt-sm="row" >
												<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
														<p>Advance Payment :<b> {{rfq.advance_payment}}</b></p>
												</md-input-container>
												<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
														<p>Recipt No :<b> {{rfq.recipt_no}}</b></p>
												</md-input-container>
												<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
														<p>Current State :<b> {{rfq.current_state}}</b></p>
												</md-input-container>
												<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
														<p>% Completed :<b> {{rfq.completed}}</b></p>
														<div class="progress">
															<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
																60%
															</div>
														</div>
												</md-input-container>
										</div>
										<div class="layout-gt-sm-row" layout-gt-sm="row" >
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
													<p>Remark :<b>{{rfq.advance_payment}}</b></p>
											</md-input-container>
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
													<p>Status :<b> {{rfq.recipt_no}}</b></p>
											</md-input-container>
										</div>
										<div class="layout-gt-sm-row" layout-gt-sm="row" >
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
													<p>Closed on :<b> {{rfq.closed_on}}</b></p>
											</md-input-container>
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
													<p>Comments :<b> {{rfq.comments}}</b></p>
											</md-input-container>
										</div>
										<div class="layout-gt-sm-row" layout-gt-sm="row" >
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
													<p>Shipment Tracking ID :<b> {{rfq.shipment_tracking_id}}</b></p>
											</md-input-container>
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
													<p>Shipment Details :<b> {{rfq.shipment_details}}</b></p>
											</md-input-container><md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
													<p>Delivered on :<b> {{rfq.delivered_on}}</b></p>
											</md-input-container>
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
													<p>Payment Recipt NO :<b> {{rfq.payment_recipt_no}}</b></p>
											</md-input-container>
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
													<p>Conversation ID :<b> {{rfq.conversation_id}}</b></p>
											</md-input-container>
										</div>
									</div>
								<div class="modal-footer">
									<span style="float:left">
										<a href="inbox.html"><md-button  layout-align="left left" class="md-raised">Message</md-button></a>
									</span>
									<span >
										<md-button class="md-raised md-warn" data-dismiss="modal">Close</md-button>
									</span>
								</div>
							</div>
							</div>
					</div>
                    <div class="module-wrapper">
                        <section class="module module-projects-invoices">
                            <div class="module-inner">
                                <div class="module-heading">
                                    <h3 class="module-title">Upcoming Delivery</h3>
                                    <ul class="actions list-inline">
                                        <li><a class="collapse-module" data-toggle="collapse" href="index.html#content-invoices" aria-expanded="false" aria-controls="content-invoices"><span aria-hidden="true" class="icon arrow_carrot-up"></span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="module-content collapse in" id="content-invoices">
                                    <div class="module-content-inner">
                                        <div class="table-responsive">
                                            <table class="table table-simple table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="number">Ref.no</th>
                                                        <th>Product</th>
                                                        <th>Category</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><a  class="label label-number-alt" data-toggle="modal" data-target="#myModal">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a  class="label label-number-alt" data-toggle="modal" data-target="#myModal">A6-335</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="label label-number-alt" data-toggle="modal" data-target="#myModal">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="label label-number-alt" data-toggle="modal" data-target="#myModal">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="label label-number-alt" data-toggle="modal" data-target="#myModal">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>