 <div class="container-fluid">
            <h2 class="view-title">Status</h2>
            <div class="row">
                <div class="col-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="module-wrapper">
                        <section class="module module-has-footer module-projects-overview">
                            <div class="module-inner">
                                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
										<md-input-container>
											<label>Ref.No</label>
											<input ng-model="ref_no">
										</md-input-container>
										<md-input-container>
											<label>Contract No</label>
											<input ng-model="contract_no" type="email">
										</md-input-container>
										<md-input-container>
										<form class="search-form form-inline">
											<label>Search</label>
											<input ng-model="Search_form" type="text">
											<button type="submit" class="btn btn-success"><i class="fa fa-search"></i>
											</button>
										</form>
										</md-input-container>
								</md-content>
								<div class="clearfix">
									<h4 class="modal-title " style="float:left">Ref No:<b>{{data.Ref_NO}}</b></h4>
									<h4 class="modal-title " >Order No:<b>{{data.order_NO}}</b></h4>
									<h4 class="modal-title " >Part No:<b>{{data.part_NO}}</b></h4>
								</div>
								<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
										<md-input-container class="md-block" flex-gt-sm>
											<label>Product Name</label>
											<input ng-model="product_name">
										</md-input-container>
										<md-input-container class="md-block" flex-gt-sm>
											<label>Quantity</label>
											<input ng-model="quantity">
										</md-input-container>
										<md-input-container class="md-block" flex-gt-sm>
											<label>Delivery Date</label>
											<input ng-model="delivery_date">
										</md-input-container>
								</md-content>
								<md-content layout-gt-md="row" layout-padding>
									<md-input-container class="md-block" >
										<label>Status</label>
											<input ng-model="status">
									</md-input-container>
									<md-input-container  >
										<label>Feedback </label>
										<input ng-model="feedback" >
									</md-input-container>
								</md-content>
								<div class="modal-footer">
									<span style="float:left">
										<a href="inbox.html"><md-button  layout-align="left left" class="md-raised">Message</md-button></a>
									</span>
									<md-button  layout-align="left left" class="md-raised">NDA</md-button>
									<md-button  layout-align="left left" class="md-raised">Quantity Document</md-button>
									<md-button  layout-align="left left" class="md-raised">Document</md-button>
								</div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>