 <div class="container-fluid">
      <h2 class="view-title">Request For Quote</h2>
      <div class="row">
        <div class="col-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="module-wrapper">
            <section class="module module-has-footer module-projects-overview">
              <div class="module-inner">
                <div class="module-heading">
                  <h3 class="module-title">Overview</h3>
                  <ul class="actions list-inline">
                    <li>
                      <a class="collapse-module" data-toggle="collapse" href="index.html#content-overview" aria-expanded="false" aria-controls="content-overview"><span aria-hidden="true" class="icon arrow_carrot-up"></span></a>
                    </li>
                    <!-- <li><a class="close-module" href="index.html#"><span aria-hidden="true" class="icon icon_close"></span></a></li> -->
                  </ul>
                </div>

                <div class="module-content collapse in" id="content-overview">
                  <div class="module-content-inner">
                    <main>
                      <div ng-controller="ezeerfqCtrl" id="accordion">
                        <form id="sectional">
                          <fieldset class="sect">
                            <div>
                              <legend data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1"><span>1</span>Material</legend>
                              <div class="form-section" aria-expanded="true" id="collapse-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-1">
                                <md-input-container flex>
                                  <label>Drawing No</label>
                                  <input type="text" ng-model="drawing_no" id="drawing_no">
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                  <label>Material</label>
                                  <md-select name="material" ng-model="material_selected" id="material">
                                    <md-option value="Aluminum">Aluminum</md-option>
                                    <md-option value="Mildsteel">Mildsteel</md-option>
                                    <md-option value="Stainless">Stainless steel</md-option>
                                    <md-option value="Plastic">Plastic</md-option>
                                    <md-option value="Copper">Copper</md-option>
                                    <md-option value="tool">Tool steel</md-option>
                                    <md-option value="Brass">Brass</md-option>
                                  </md-select>
                                </md-input-container>

                                <md-input-container flex>
                                  <label>Grade</label>
                                  <input type="text" ng-model="grade" id="grad">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                  <label>Unit of Measurement</label>
                                  <md-select name="measurement" ng-model="measurement" id="measurement">
                                    <md-option value="mm">mm</md-option>
                                    <md-option value="inch">inch</md-option>
                                  </md-select>
                                </md-input-container>
                                <nav class="form-section-nav">
                                  <button type="button" class="btn form-nav-next btn-primary-alt btn-square">Next</button>
                                </nav>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset class="sect">
                            <div>
                              <legend data-toggle="collapse" data-parent="#accordion-1" href="#collapsetwo-1" aria-expanded="false" aria-controls="collapsetwo-1"><span>2</span>Turning</legend>
                              <div class="form-section" aria-expanded="true" id="collapsetwo-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingtwo-1">
                                <!-- Turning -->

                                <md-checkbox name="turning_req" ng-model="turning_req" id="turning_req">Turning</md-checkbox>
                                <md-input-container flex>
                                  <label>diameter</label>
                                  <input type="text" ng-model="dia" id="dia" ng-disabled="!turning_req">
                                </md-input-container>

                                <md-input-container flex>
                                  <label>Length</label>
                                  <input type="text" ng-model="length" id="length" ng-disabled="!turning_req">
                                </md-input-container>
                                <nav class="form-section-nav">
                                  <button type="button" class="btn form-nav-prev btn-primary-alt btn-square">Prev</button>
                                  <button type="button" class="btn form-nav-next btn-primary-alt btn-square">Next</button>
                                </nav>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset class="sect">
                            <div>
                              <legend data-toggle="collapse" data-parent="#accordion-1" href="#collapseThree-1" aria-expanded="false" aria-controls="collapseThree-1"><span>3</span>Step Turning</legend>
                              <div class="form-section" aria-expanded="true" id="collapseThree-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree-1">
                                <md-checkbox name="step_turning_req" ng-model="step_turning_req" id="step_turning_req">Step Turning</md-checkbox>
                                <md-input-container flex>
                                  <label>Number of Step Turning</label>
                                  <md-select name="no_step_turning" ng-model="no_step_turning" ng-change="list()" id="no_step_turning" ng-disabled="!step_turning_req">
                                    <md-option value="1">1</md-option>
                                    <md-option value="2">2</md-option>
                                    <md-option value="3">3</md-option>
                                    <md-option value="4">4</md-option>
                                    <md-option value="5">5</md-option>
                                  </md-select>
                                  {{step_turn1}}
                                </md-input-container flex>
                                <div ng-cloak>
                                  <md-content>
                                    <md-tabs md-dynamic-height md-border-bottom>
                                      <md-tab data-ng-show="step_turn1" label="Step turning 1">
                                        <md-content class="md-padding">
                                          <label>Step turning 1</label>
                                          <md-input-container flex>
                                            <label>Diameter</label>
                                            <input type="text" name="step_turn_dia_1" ng-model="step_turn_dia_1" id="step_turn_dia_1" ng-disabled="!step_turning_req" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="step_turn_length_1" ng-model="step_turn_length_1" ng-disabled="!step_turning_req" id="step_turn_length_1" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="step_turn2" label="Step turning 2" ng-show="step_turn2">
                                        <md-content class="md-padding">
                                          <label>Step turning 2</label>
                                          <md-input-container flex>
                                            <label>Diameter</label>
                                            <input type="text" name="step_turn_dia_2" ng-model="step_turn_dia_2" id="step_turn_dia_2" ng-disabled="!step_turning_req" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="step_turn_length_2" ng-model="step_turn_length_2" ng-disabled="!step_turning_req" id="step_turn_length_2" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="step_turn3" label="Step turning 3" ng-show="step_turn3">
                                        <md-content class="md-padding">
                                          <label>Step turning 3</label>
                                          <md-input-container flex>
                                            <label>Diameter</label>
                                            <input type="text" name="step_turn_dia_3" ng-model="step_turn_dia_3" id="step_turn_dia_3" ng-disabled="!step_turning_req" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="step_turn_length_3" ng-model="step_turn_length_3" ng-disabled="!step_turning_req" id="step_turn_length_3" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="step_turn4" label="Step turning 4" ng-show="step_turn4">
                                        <md-content class="md-padding">
                                          <label>Step turning 4</label>
                                          <md-input-container flex>
                                            <label>Diameter</label>
                                            <input type="text" name="step_turn_dia_4" ng-model="step_turn_dia_4" id="step_turn_dia_4" ng-disabled="!step_turning_req" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="step_turn_length_4" ng-model="step_turn_length_4" ng-disabled="!step_turning_req" id="step_turn_length_4" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="step_turn5" label="Step turning 5" ng-show="step_turn5">
                                        <md-content class="md-padding">
                                          <label>Step turning 5</label>
                                          <md-input-container flex>
                                            <label>Diameter</label>
                                            <input type="text" name="step_turn_dia_5" ng-model="step_turn_dia_5" id="step_turn_dia_5" ng-disabled="!step_turning_req" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="step_turn_length_5" ng-model="step_turn_length_5" ng-disabled="!step_turning_req" id="step_turn_length_5" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                    </md-tabs>
                                  </md-content>
                                </div>
                                <nav class="form-section-nav">
                                  <button type="button" class="btn form-nav-prev btn-primary-alt btn-square">Prev</button>
                                  <button type="button" class="btn form-nav-next btn-primary-alt btn-square">Next</button>
                                </nav>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset class="sect">
                            <div>
                              <legend data-toggle="collapse" data-parent="#accordion-1" href="#collapsefour-1" aria-expanded="false" aria-controls="collapsefour-1"><span>4</span>Boring</legend>
                              <div class="form-section" aria-expanded="true" id="collapsefour-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfour-1">
                                <md-checkbox name="boring_req" ng-model="boring_req" id="boring_req">Boring</md-checkbox>
                                <md-input-container flex>
                                  <label>Number of Boring</label>
                                  <md-select name="no_step_boring" ng-model="no_step_boring" ng-change="list()" id="no_step_boring" ng-disabled="!boring_req">
                                    <md-option value="1">1</md-option>
                                    <md-option value="2">2</md-option>
                                    <md-option value="3">3</md-option>
                                    <md-option value="4">4</md-option>
                                    <md-option value="5">5</md-option>
                                  </md-select>
                                </md-input-container flex>
                                <div ng-cloak>
                                  <md-content>
                                    <md-tabs md-dynamic-height md-border-bottom>
                                      <md-tab data-ng-if="boring1" label="Boring">
                                        <md-content class="md-padding">
                                          <label>Boring 1</label>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="boring_dia_1" ng-model="boring_dia_1" ng-disabled="!boring_req" id="boring_dia_1" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="boring_length_1" ng-model="boring_length_1" ng-disabled="!boring_req" id="boring_length_1" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="boring2" label="Boringg 2">
                                        <md-content class="md-padding">
                                          <label>Boring 2</label>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="boring_dia_2" ng-model="boring_dia_2" ng-disabled="!boring_req" id="boring_dia_2" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="boring_length_2" ng-model="boring_length_2" ng-disabled="!boring_req" id="boring_length_2" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="boring3" label="Boring 3">
                                        <md-content class="md-padding">
                                          <label>Boring 3</label>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="boring_dia_3" ng-model="boring_dia_3" ng-disabled="!boring_req" id="boring_dia_3" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="boring_length_3" ng-model="boring_length_3" ng-disabled="!boring_req" id="boring_length_3" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="boring4" label="Boring 4">
                                        <md-content class="md-padding">
                                          <label>Boring 4</label>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="boring_dia_4" ng-model="boring_dia_4" ng-disabled="!boring_req" id="boring_dia_4" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="boring_length_4" ng-model="boring_length_4" ng-disabled="!boring_req" id="boring_length_4" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="boring5" label="Boring 5">
                                        <md-content class="md-padding">
                                          <label>Boring 5</label>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="boring_dia_5" ng-model="boring_dia_5" ng-disabled="!boring_req" id="boring_dia_5" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="boring_length_5" ng-model="boring_length_5" ng-disabled="!boring_req" id="boring_length_5" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                    </md-tabs>
                                  </md-content>
                                </div>
                                <nav class="form-section-nav">
                                  <button type="button" class="btn form-nav-prev btn-primary-alt btn-square">Prev</button>
                                  <button type="button" class="btn form-nav-next btn-primary-alt btn-square">Next</button>
                                </nav>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset class="sect">
                            <div>
                              <legend data-toggle="collapse" data-parent="#accordion-1" href="#collapsefive-1" aria-expanded="false" aria-controls="collapsefive-1"><span>5</span>External Threading</legend>
                              <div class="form-section" aria-expanded="true" id="collapsefive-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfive-5">
                                <md-checkbox name="external_threading_req" ng-model="external_threading_req" id="external_threading_req">External Threading</md-checkbox>
                                <md-input-container flex>
                                  <label>Number of External Threading</label>
                                  <md-select name="no_step_external_threading" ng-model="no_step_external_threading" ng-change="list()" id="no_step_external_threading" ng-disabled="!external_threading_req">
                                    <md-option value="1">1</md-option>
                                    <md-option value="2">2</md-option>
                                    <md-option value="3">3</md-option>
                                    <md-option value="4">4</md-option>
                                    <md-option value="5">5</md-option>
                                  </md-select>
                                </md-input-container flex>
                                <div ng-cloak>
                                  <md-content>
                                    <md-tabs md-dynamic-height md-border-bottom>
                                      <md-tab data-ng-if="threading1" label="External Threading 1">
                                        <md-content class="md-padding">
                                          <label>External Threading 1</label>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="external_threading_length_1" ng-model="external_threading_length_1" ng-disabled="!external_threading_req" id="external_threading_length_1" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="external_threading_dia_1" ng-model="external_threading_dia_1" ng-blur="pitch_fun_e1(external_threading_dia_1)" ng-disabled="!external_threading_req" id="external_threading_dia_1" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>pitch</label>
                                            <input type="text" name="external_threading_pitch_1" ng-model="external_threading_pitch_1" ng-disabled="!external_threading_req" id="external_threading_pitch_1" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="threading2" label="External Threading 2">
                                        <md-content class="md-padding">
                                          <label>External Threading 2</label>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="external_threading_length_2" ng-model="external_threading_length_2" ng-disabled="!external_threading_req" id="external_threading_length_2" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="external_threading_dia_2" ng-model="external_threading_dia_2" ng-blur="pitch_fun_e2(external_threading_dia_2)"  ng-disabled="!external_threading_req" id="external_threading_dia_2" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>pitch</label>
                                            <input type="text" name="external_threading_pitch_2" ng-model="external_threading_pitch_2" ng-disabled="!external_threading_req" id="external_threading_pitch_2" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="threading3" label="External Threading 3">
                                        <md-content class="md-padding">
                                          <label>External Threading 3</label>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="external_threading_length_3" ng-model="external_threading_length_3" ng-disabled="!external_threading_req" id="external_threading_length_3" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="external_threading_dia_3" ng-model="external_threading_dia_3" ng-blur="pitch_fun_e3(external_threading_dia_3)"  ng-disabled="!external_threading_req" id="external_threading_dia_3" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>pitch</label>
                                            <input type="text" name="external_threading_pitch_3" ng-model="external_threading_pitch_3" ng-disabled="!external_threading_req" id="external_threading_pitch_3" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="threading4" label="External Threading 4">
                                        <md-content class="md-padding">
                                          <label>External Threading 4</label>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="external_threading_length_4" ng-model="external_threading_length_4" ng-disabled="!external_threading_req" id="external_threading_length_4" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="external_threading_dia_4" ng-model="external_threading_dia_4" ng-blur="pitch_fun_e4(external_threading_dia_4)"  ng-disabled="!external_threading_req" id="external_threading_dia_4" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>pitch</label>
                                            <input type="text" name="external_threading_pitch_4" ng-model="external_threading_pitch_4" ng-disabled="!external_threading_req" id="external_threading_pitch_4" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="threading5" data-ng-if="tap5" label="External Threading 5">
                                        <md-content class="md-padding">
                                          <label>External Threading 5</label>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="external_threading_length_5" ng-model="external_threading_length_5" ng-disabled="!external_threading_req" id="external_threading_length_5" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="external_threading_dia_5" ng-model="external_threading_dia_5" ng-blur="pitch_fun_e5(external_threading_dia_5)"  ng-disabled="!external_threading_req" id="external_threading_dia_5" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>pitch</label>
                                            <input type="text" name="external_threading_pitch_5" ng-model="external_threading_pitch_5" ng-disabled="!external_threading_req" id="external_threading_pitch_5" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                    </md-tabs>
                                  </md-content>
                                </div>
                                <nav class="form-section-nav">
                                  <button type="button" class="btn form-nav-prev btn-primary-alt btn-square">Prev</button>
                                  <button type="button" class="btn form-nav-next btn-primary-alt btn-square">Next</button>
                                </nav>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset class="sect">
                            <div>
                              <legend data-toggle="collapse" data-parent="#accordion-1" href="#collapsesix-1" aria-expanded="false" aria-controls="collapsesix-1"><span>6</span>Internal Threading</legend>
                              <div class="form-section" aria-expanded="true" id="collapsesix-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsix-1">
                                <md-checkbox name="Internal_threading_req" ng-model="Internal_threading_req" id="Internal_threading_req">Internal Threading</md-checkbox>
                                <md-input-container flex>
                                  <label>Number of Internal Threading</label>
                                  <md-select name="no_step_Internal_threading" ng-model="no_step_Internal_threading" ng-change="list()" id="no_step_Internal_threading" ng-disabled="!Internal_threading_req">
                                    <md-option value="1">1</md-option>
                                    <md-option value="2">2</md-option>
                                    <md-option value="3">3</md-option>
                                    <md-option value="4">4</md-option>
                                    <md-option value="5">5</md-option>
                                  </md-select>
                                </md-input-container flex>
                                <div ng-cloak>
                                  <md-content>
                                    <md-tabs md-dynamic-height md-border-bottom>
                                      <md-tab data-ng-if="tap1" label="Internal Threading 1">
                                        <md-content class="md-padding">
                                          <label>Internal Threading 1</label>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="Internal_threading_length_1" ng-model="Internal_threading_length_1" ng-disabled="!Internal_threading_req" id="Internal_threading_length_1" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="Internal_threading_dia_1" ng-model="Internal_threading_dia_1" ng-blur="pitch_fun_i1(Internal_threading_dia_1)" ng-disabled="!Internal_threading_req" id="Internal_threading_dia_1" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Pitch</label>
                                            <input type="text" name="Internal_threading_pitch_1" ng-model="Internal_threading_pitch_1" ng-disabled="!Internal_threading_req" id="Internal_threading_pitch_1" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="tap2" label="Internal Threading 2">
                                        <md-content class="md-padding">
                                          <label>Internal Threading 2</label>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="Internal_threading_length_2" ng-model="Internal_threading_length_2" ng-disabled="!Internal_threading_req" id="Internal_threading_length_2" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="Internal_threading_dia_2" ng-model="Internal_threading_dia_2" ng-blur="pitch_fun_i2(Internal_threading_dia_2)" ng-disabled="!Internal_threading_req" id="Internal_threading_dia_2" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Pitch</label>
                                            <input type="text" name="Internal_threading_pitch_2" ng-model="Internal_threading_pitch_2" ng-disabled="!Internal_threading_req" id="Internal_threading_pitch_2" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="tap3" label="Internal Threading 3">
                                        <md-content class="md-padding">
                                          <label>Internal Threading 3</label>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="Internal_threading_length_3" ng-model="Internal_threading_length_3"  ng-disabled="!Internal_threading_req" id="Internal_threading_length_3" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="Internal_threading_dia_3" ng-model="Internal_threading_dia_3" ng-blur="pitch_fun_i3(Internal_threading_dia_3)" ng-disabled="!Internal_threading_req" id="Internal_threading_dia_3" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Pitch</label>
                                            <input type="text" name="Internal_threading_pitch_3" ng-model="Internal_threading_pitch_3" ng-disabled="!Internal_threading_req" id="Internal_threading_pitch_3" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="tap4" label="Internal Threading 4">
                                        <md-content class="md-padding">
                                          <label>Internal Threading 4</label>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="Internal_threading_length_4" ng-model="Internal_threading_length_4" ng-disabled="!Internal_threading_req" id="Internal_threading_length_4" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="Internal_threading_dia_4" ng-model="Internal_threading_dia_4" ng-blur="pitch_fun_i4(Internal_threading_dia_4)" ng-disabled="!Internal_threading_req" id="Internal_threading_dia_4" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Pitch</label>
                                            <input type="text" name="Internal_threading_pitch_4" ng-model="Internal_threading_pitch_4" ng-disabled="!Internal_threading_req" id="Internal_threading_pitch_4" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                      <md-tab data-ng-if="tap5" label="Internal Threading 5">
                                        <md-content class="md-padding">
                                          <label>Internal Threading 5</label>
                                          <md-input-container flex>
                                            <label>Length</label>
                                            <input type="text" name="Internal_threading_length_5" ng-model="Internal_threading_length_5" ng-disabled="!Internal_threading_req" id="Internal_threading_length_5" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Dia</label>
                                            <input type="text" name="Internal_threading_dia_5" ng-model="Internal_threading_dia_5" ng-blur="pitch_fun_i5(Internal_threading_dia_5)" ng-disabled="!Internal_threading_req" id="Internal_threading_dia_5" />
                                          </md-input-container flex>
                                          <md-input-container flex>
                                            <label>Pitch</label>
                                            <input type="text" name="Internal_threading_pitch_5" ng-model="Internal_threading_pitch_5" ng-disabled="!Internal_threading_req" id="Internal_threading_pitch_5" />
                                          </md-input-container flex>
                                        </md-content>
                                      </md-tab>
                                    </md-tabs>
                                  </md-content>
                                </div>
                                <nav class="form-section-nav">
                                  <button type="button" class="btn form-nav-prev btn-primary-alt btn-square">Prev</button>
                                  <button type="button" class="btn form-nav-next btn-primary-alt btn-square">Next</button>
                                </nav>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset class="sect">
                            <div>
                              <legend data-toggle="collapse" data-parent="#accordion-1" href="#collapseseven-1" aria-expanded="false" aria-controls="collapseseven-1"><span>7</span>Knurling</legend>
                              <div class="form-section" aria-expanded="true" id="collapseseven-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingseven-1">
                                <md-checkbox name="Knurling_req" ng-model="Knurling_req" id="Knurling_req">Knurling</md-checkbox>
                                <label>Knurling</label>
                                <md-input-container flex>
                                  <label>Type of Knurl</label>
                                  <md-select name="knurl_type" ng-model="knurl_type" id="knurl_type" ng-disabled="!Knurling_req">
                                    <md-option value="Straight">Straight</md-option>
                                    <md-option value="Diamond">Diamond</md-option>
                                  </md-select>
                                </md-input-container flex>
                                <md-input-container flex>
                                  <label>Dia</label>
                                  <input type="text" name="knurling_dia_1" ng-model="knurling_dia_1" ng-disabled="!Knurling_req" id="knurling_dia_1" />
                                </md-input-container flex>
                                <md-input-container flex>
                                  <label>Length</label>
                                  <input type="text" name="knurling_length_1" ng-model="knurling_length_1" ng-disabled="!Knurling_req" id="knurling_length_1" />
                                </md-input-container flex>
                                <nav class="form-section-nav">
                                  <button type="button" class="btn form-nav-prev btn-primary-alt btn-square">Prev</button>
                                  <button type="button" class="btn form-nav-next btn-primary-alt btn-square">Next</button>
                                </nav>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset class="sect">
                            <div>
                              <legend data-toggle="collapse" data-parent="#accordion-1" href="#collapseeight-1" aria-expanded="false" aria-controls="collapseeight-1"><span>8</span>Shipment Details</legend>
                              <div class="form-section" aria-expanded="true" id="collapseseven-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingeight-1">
                                <md-input-container class="md-block" flex-gt-sm>
                                  <label>Shipment To</label>
                                  <md-select name="shipment_to" ng-model="shipment_to" id="shipment_to">
                                    <md-option value="India">India</md-option>
                                    <md-option value="other">OVERSEA</md-option>
                                  </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                  <label>State</label>
                                  <md-select name="state" ng-model="state" id="state">
                                    <md-option value="Tamilnadu">Tamil Nadu </md-option>
                                    <md-option value="other">Other States</md-option>
                                  </md-select>
                                </md-input-container>
                                <md-input-container flex>
                                  <label>Delivery-Type</label>
                                  <md-select name="delivery_Type" ng-model="delivery_Type" id="delivery_Type">
                                    <md-option value="Door Delivery">Door Delivery</md-option>
                                    <md-option value="fob">FOB</md-option>
                                    <md-option value="exword">EX Words</md-option>
                                  </md-select>
                                </md-input-container flex>
                                <md-input-container flex>
                                  <label>Shipment-Type</label>
                                  <md-select name="shipment_Type" ng-model="shipment_Type" id="shipment_Type">
                                    <md-option value="by_Air">By Air</md-option>
                                    <md-option value="by_Sea">By Sea</md-option>
                                    <md-option value="by_Road">By Road</md-option>
                                  </md-select>
                                </md-input-container flex>
                                <md-input-container class="md-block" flex-gt-sm>
                                  <label>Perferred Logistics Company</label>
                                  <md-select name="logistics_company" ng-model="logistics_company" ng-change="country_list_fun()" id="logistics_company">
                                    <md-option value="1">UPS</md-option>
                                    <md-option value="2">TNT</md-option>
                                    <md-option value="3"> DHL</md-option>
                                    <md-option value="4">FEDEX</md-option>
                                  </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                  <label>country</label>
                                  <md-select name="country" ng-model="country " id="country">
                                    <md-option ng-value="opt.id" ng-repeat="opt in country_list">{{ opt.country_name }}</md-option>
                                  </md-select>
                                </md-input-container>
                                <md-input-container flex>
                                  <label>Quantity</label>
                                  <input type="text" ng-model="Quantity" id="Quantity">
                                </md-input-container>
                                <nav class="form-section-nav">
                                  <button type="button" class="btn form-nav-prev btn-primary-alt btn-square">Prev</button>
                                  <button type="button" class="btn form-nav-next btn-primary-alt btn-square">Next</button>
                                </nav>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset class="sect">
                            <div>
                              <legend data-toggle="collapse" data-parent="#accordion-1" href="#collapsenine-1" aria-expanded="false" aria-controls="collapsenine-1"><span>9</span>Additional Process</legend>
                              <div class="form-section" aria-expanded="true" id="collapsenine-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingnine-1">
                                <div class="col-lg-12">
                                  <div class="col-lg-4">
                                    <md-checkbox name="Anodising" ng-model="Anodising" id="Anodising">Anodising</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="ENP" ng-model="ENP" id="ENP">ENP</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Chrome_Plating" ng-model="Chrome_Plating" id="Chrome_Plating">Chrome Plating</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Nickel_Plating" ng-model="Nickel_Plating" id="Nickel_Plating">Nickel Plating</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Zinc_Plating" ng-model="Zinc_Plating" id="Zinc_Plating">Zinc Plating</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Chemical_Black" ng-model="Chemical_Black" id="Chemical_Black">Chemical Black</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Heat_treatment" ng-model="Heat_treatment" id="Heat_treatment">Heat treatment</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Case_Hardening" ng-model="Case_Hardening" id="Case_Hardening">Case Hardening</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Blasting" ng-model="Blasting" id="Blasting">Blasting</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Passivation" ng-model="Passivation" id="Passivation">Passivation</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Powder_coating" ng-model="Powder_coating" id="Powder_coating">Powder coating</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Laser_Engraving" ng-model="Laser_Engraving" id="Laser_Engraving">Laser Engraving</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Tumbling" ng-model="Tumbling" id="Tumbling">Tumbling</md-checkbox>
                                  </div>
                                  <div class="col-lg-4">
                                    <md-checkbox name="Spray_Painting" ng-model="Spray_Painting" id="Spray_Painting">Spray Painting</md-checkbox>
                                  </div>
                                </div>
                                <button class="md-raised md-warn form-nav-next md-button md-ink-ripple" ng-click="calculate()">submit</button>
                                <nav class="form-section-nav">
                                  <button type="button" class="btn form-nav-prev btn-primary-alt btn-square">Prev</button>
                                </nav>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset class="sect">
                            <div>
                              <legend data-toggle="collapse" data-parent="#accordion-1" href="#collapseten-1" aria-expanded="false" aria-controls="collapseten-1"><span>10</span>Total Cost</legend>
                              <div class="form-section" aria-expanded="true" id="collapseten-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingten-1">
                                <div layout-gt-sm="row">
                                  <div class="col-lg-12">
                                    <div class="col-lg-4">
                                      <md-input-container class="md-block" flex-gt-sm>
                                        <label>Material cost</label>
                                        <input type="text" id="material_cost" ng-model="material_cost">
                                      </md-input-container>
                                    </div>
                                    <div class="col-lg-4">
                                      <md-input-container class="md-block" flex-gt-sm>
                                        <label>Machine cost</label>
                                        <input type="text" id="machine_cost" ng-model="machine_cost">
                                      </md-input-container>
                                    </div>
                                    <div class="col-lg-4">
                                      <md-input-container class="md-block" flex-gt-sm>
                                        <label>Labour cost</label>
                                        <input type="text" id="labour_cost" ng-model="labour_cost">
                                      </md-input-container>
                                    </div>
                                    <div class="col-lg-4">
                                      <md-input-container class="md-block" flex-gt-sm>
                                        <label>Additional Operation cost</label>
                                        <input type="text" id="additional_cost" ng-model="additional_cost">
                                      </md-input-container>
                                    </div>
                                    <div class="col-lg-4">
                                      <md-input-container class="md-block" flex-gt-sm>
                                        <label>Total Manufacturing cost</label>
                                        <input type="text" id="final_total_cycle_time" ng-model="final_total_cycle_time">
                                      </md-input-container>
                                    </div>
                                    <div class="col-lg-4">
                                      <md-input-container class="md-block" flex-gt-sm>
                                        <label>Air Freight cost</label>
                                        <input type="text" id="air_freight_cost" ng-model="air_freight_cost">
                                      </md-input-container>
                                    </div>
                                    <div class="col-lg-4">
                                      <md-input-container class="md-block" flex-gt-sm>
                                        <label>Packing And Forwarding Cost</label>
                                        <input type="text" id="package_cost" ng-model="package_cost">
                                      </md-input-container>
                                    </div>
                                    <div class="col-lg-4">
                                      <md-input-container class="md-block" flex-gt-sm>
                                        <label>Margin Cost</label>
                                        <input type="text" id="margin_cost" ng-model="margin_cost">
                                      </md-input-container>
                                    </div>
                                    <div class="col-lg-4">
                                      <md-input-container class="md-block" flex-gt-sm>
                                        <label>Final cost with Margin</label>
                                        <input type="text" id="final_cost_with_margin" ng-model="final_cost_with_margin">
                                      </md-input-container>
                                    </div>
                                  </div>
                                </div>
                                <nav class="form-section-nav">
                                  <button type="button" class="btn form-nav-prev btn-primary-alt btn-square">Prev</button>
                                  <button type="button" class="btn form-nav-next btn-primary-alt btn-square">Next</button>
                                </nav>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset class="sect">
                            <div>
                              <legend aria-expanded="true" data-toggle="collapse" data-parent="#accordion-1" href="#collapseeleven-1" aria-expanded="false" aria-controls="collapseeleven-1"><span>11</span>Drawing</legend>
                              <div class="form-section" aria-expanded="true" id="collapseeleven-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingeleven-1">
                                <h4 class="has-divider">File</h4>
                                <div class="form-group">
                                  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput">
                                      <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                      <span class="fileinput-filename"></span>
                                    </div>
                                    <span class="input-group-addon btn btn-default btn-file">
																					<span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="...">
                                    </span>
                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                  </div>
                                </div>
                                <nav class="form-section-nav">
                                  <button type="button" class="btn form-nav-prev btn-primary-alt btn-square">Prev</button>
                                  <button class="md-raised md-warn md-button md-ink-ripple" ng-click="rfq()">submit all</button>
                                </nav>
                              </div>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                    </main>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>