 <div class="container-fluid">
            <h2 class="view-title">RFQ History Log</h2>
            <div class="row">
                <div class="col-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="module-wrapper">
                        <section class="module module-projects-invoices">
                            <div class="module-inner">
                                <div class="module-heading">
                                    <h3 class="module-title">Latest Contract</h3>
                                    <ul class="actions list-inline">
                                        <li><a class="collapse-module" data-toggle="collapse" href="index.html#content-invoices" aria-expanded="false" aria-controls="content-invoices"><span aria-hidden="true" class="icon arrow_carrot-up"></span></a>
                                        </li>
									</ul>
                                </div>
                                <div class="module-content collapse in" id="content-invoices">
                                    <div class="module-content-inner">
                                        <div class="table-responsive">
                                            <table class="table table-simple table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="number">Ref.no</th>
                                                        <th>Date</th>
                                                        <th>Product Name</th>
                                                        <th>Quantity</th>
                                                        <th>Order No</th>
                                                        <th>Part No</th>
                                                        <th>Estimate Cost</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-repeat="x in mydata">
                                                    <tr>
                                                        <td>
															<a class="label label-number-alt" ng-click="rfqdetails('0A00010A02')" data-toggle="modal" data-target="#myModal">
																#{{x.ref_no}}    
															</a>
                                                        </td>
                                                        <td><a href="">{{x.dated}}</a>
                                                        </td>
                                                        <td><a href="">{{x.product_name}}</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">{{x.quantity}}</a>
                                                        </td>
														<td ><a class="label label-number-alt" href="invoice.html">#{{x.contract_no }}</a>
                                                        </td>
														<td><a  class="label label-number-alt" href="invoice.html">#{{x.part_no}}</a>
                                                        </td>
														<td class="date truncate"><a href="invoice.html">${{x.estimated_cost}}</a>
                                                        </td>
                                                    </tr>
                                                   
												   
                                                </tbody>
                                            </table>
											
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
					<div id="myModal" class="modal fade" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content ">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Ref NO:<b>{{rfq.Ref_NO}}</b></h4>
									</div>
									<div class="modal-body clearfix">
										<div class="layout-gt-sm-row" layout-gt-sm="row" >
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">			
														<p>Drawing No:<b>{{rfq.drawing_no}}</b></p>
														<p>Material:<b>{{rfq.material}}</b></p>
											</md-input-container>
											<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
														<p>Grade:<b>{{rfq.grade}}</b></p>
														<p>Unit of Measurement:<b>{{rfq.measurement}}</b></p>
											</md-input-container>
										</div>
										<h3>Turning</h3>
										<div class="layout-gt-sm-row" layout-gt-sm="row" >
												<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
														<p>dia:<b>{{rfq.dia}}</b></p>
												</md-input-container>
												<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
														<p>Length:<b>{{rfq.length}}</b></p>
												</md-input-container>
										</div>
										<div class="col-lg-12">
											<div class="panel panel-success">
												<div class="panel-heading">Step Turning</div>
												<div class="panel-body">
															<p>No of Step Turning:<b>{{rfq.no_step_turning}}</b></p>
													<div ng-cloak >
														<md-content>
															<md-tabs md-dynamic-height md-border-bottom>
																<md-tab label="Step turning 1">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.step_turn_dia_1}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.step_turn_length_1}}</b></p>
																			</md-input-container>
																		</div>
																	</md-content>
																</md-tab>
																<md-tab label="Step turning 2">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.step_turn_dia_2}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.step_turn_length_2}}</b></p>	
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="Step turning 3">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.step_turn_dia_3}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.step_turn_length_3}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="Step turning 4">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.step_turn_dia_4}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.step_turn_length_4}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="Step turning 5">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.step_turn_dia_5}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.step_turn_length_5}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
															</md-tabs>
														</md-content>
													</div>
												</div>
											</div>
											<div class="panel panel-success">
												<div class="panel-heading">Boring</div>
												<div class="panel-body">
														<p>Number of Boring:<b>{{rfq.no_step_boring}}</b></p>
													<div ng-cloak >
														<md-content>
															<md-tabs md-dynamic-height md-border-bottom>
																<md-tab label="Boring 1">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.boring_dia_1}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.boring_length_1}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="Boring 2">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.boring_dia__2}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.boring_length_2}}</b></p>
																			</md-input-container>
																		</div>
	
																	</md-content>
																</md-tab>
																<md-tab label="Boring 3">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.boring_dia_3}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.boring_length_3}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="Boring 4">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.boring_dia_4}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.boring_length_4}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="Boring 5">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.boring_dia_5}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.boring_length_5}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
															</md-tabs>
														</md-content>
													</div>
												</div>
											</div>
											<div class="panel panel-success">
												<div class="panel-heading">External Threading</div>
												<div class="panel-body">
														<p>No of External Threading:<b>{{rfq.no_step_external_threading}}</b></p>
													<div ng-cloak >
														<md-content>
															<md-tabs md-dynamic-height md-border-bottom>
																<md-tab label="External Threading 1">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.external_threading_length_1}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.external_threading_dia_1}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>pitch:<b>{{rfq.external_threading_pitch_1}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="External Threading 2">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.external_threading_length_2}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.external_threading_dia_2}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>pitch:<b>{{rfq.external_threading_pitch_2}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="External Threading 3">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.external_threading_length_3}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.external_threading_dia_3}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>pitch:<b>{{rfq.external_threading_pitch_3}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="External Threading 4">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.external_threading_length_4}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.external_threading_dia_4}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>pitch:<b>{{rfq.external_threading_pitch_4}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="External Threading 5">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.external_threading_length_5}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.external_threading_dia_5}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>pitch:<b>{{rfq.external_threading_pitch_5}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
															</md-tabs>
														</md-content>
													</div>
												</div>
											</div>
											<div class="panel panel-success">
												<div class="panel-heading">Internal Threading</div>
												<div class="panel-body">
														<p>No of Internal Threading:<b>{{rfq.no_step_Internal_threading}}</b></p>
													<div ng-cloak >
														<md-content>
															<md-tabs md-dynamic-height md-border-bottom>
																<md-tab label="Internal Threading 1">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.external_threading_length_1}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.external_threading_dia_1}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>pitch:<b>{{rfq.external_threading_pitch_1}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="Internal Threading 2">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.Internal_threading_length_2}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.Internal_threading_dia_2}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>pitch:<b>{{rfq.Internal_threading_pitch_2}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="Internal Threading 3">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.Internal_threading_length_3}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.Internal_threading_dia_3}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>pitch:<b>{{rfq.Internal_threading_pitch_3}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="Internal Threading 4">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.Internal_threading_length_4}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.Internal_threading_dia_4}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>pitch:<b>{{rfq.Internal_threading_pitch_4}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
																<md-tab label="Internal Threading 5">
																	<md-content class="md-padding">
																		<div class="layout-gt-sm-row" layout-gt-sm="row">
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Length:<b>{{rfq.Internal_threading_length_5}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>Dia:<b>{{rfq.Internal_threading_dia_5}}</b></p>
																			</md-input-container>
																			<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																				<p>pitch:<b>{{rfq.Internal_threading_pitch_5}}</b></p>
																			</md-input-container>
																		</div>

																	</md-content>
																</md-tab>
															</md-tabs>
														</md-content>
													</div>
												</div>
											</div>
											<div class="panel panel-success">
												<div class="panel-heading">Knurling</div>
												<div class="panel-body">
													<div class="layout-gt-sm-row" layout-gt-sm="row">
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
															<p>Type of Knurl:<b>{{rfq.knurl_type}}</b></p>
														</md-input-container>
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																<p>Dia:<b>{{rfq.knurling_dia_1}}</b></p>
														</md-input-container>
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
																<p>Length:<b>{{rfq.knurling_length_1}}</b></p>
														</md-input-container>
													</div>
												</div>
											</div>
											<div class="panel panel-success">
												<div class="panel-heading">Shipment Details</div>
												<div class="panel-body">
													<div class="layout-gt-sm-row" layout-gt-sm="row">
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
															<p>Shipment To:<b>{{rfq.shipment_To}}</b></p>
														</md-input-container>
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
															<p>Delivery-Type:<b>{{rfq.delivery_Type}}</b></p>
														</md-input-container>
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
															<p>Shipment-Type:<b>{{rfq.shipment_Type}}</b></p>
														</md-input-container>
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
															<p>Preferred-logistics-company:<b>{{rfq.Preferred_logistics_company}}</b></p>
														</md-input-container>
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
															<p>Country:<b>{{rfq.country}}</b></p>
														</md-input-container>
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
															<p>Quantity:<b>{{rfq.Quantity}}</b></p>
														</md-input-container>
													</div>
												</div>
											</div>
											<div class="panel panel-success">
												<div class="panel-heading">Additional Process</div>
												<div class="panel-body">
													<ul> 
														<li>
														<p><b>{{rfq.Anodising}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.ENP}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Chrome_Plating}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Nickel_Plating}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Zinc_Plating}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Chemical_Black}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Heat_treatment}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Case_Hardening}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Blasting}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Passivation}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Powder_coating}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Laser_Engraving}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Tumbling}}</b></p>
														</li>
														<li>
														<p><b>{{rfq.Spray_Painting}}</b></p>
														</li>
													</ul>
												</div>
											</div>
											<div class="panel panel-success">
												<div class="panel-heading">Shipment Details</div>
												<div class="panel-body">
													<div class="layout-gt-sm-row" layout-gt-sm="row">
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
															<p>Labour cost:<b>{{rfq.labour_cost}}</b></p>
														</md-input-container>
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
															<p>Additional cost:<b>{{rfq.additional_cost}}</b></p>
														</md-input-container>
														<md-input-container class="md-block flex-gt-sm md-input-has-value" flex-gt-sm="">
															<p>Air Freight cost:<b>{{rfq.air_freight_cost}}</b></p>
														</md-input-container>
													</div>
													</ul>
												</div>
											</div>
										</div>
									</div>
								<div class="modal-footer">
										<md-button class="md-raised md-warn" data-dismiss="modal">Close</md-button>
								</div>
							</div>
							</div>
					</div>
                    <div class="module-wrapper">
                        <section class="module module-projects-invoices">
                            <div class="module-inner">
                                <div class="module-heading">
                                    <h3 class="module-title">Upcoming Delivery</h3>
                                    <ul class="actions list-inline">
                                        <li><a class="collapse-module" data-toggle="collapse" href="index.html#content-invoices" aria-expanded="false" aria-controls="content-invoices"><span aria-hidden="true" class="icon arrow_carrot-up"></span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="module-content collapse in" id="content-invoices">
                                    <div class="module-content-inner">
                                        <div class="table-responsive">
                                            <table class="table table-simple table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="number">Ref.no</th>
                                                        <th>Product</th>
                                                        <th>Category</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><a  class="label label-number-alt" data-toggle="modal" data-target="#myModal">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a  class="label label-number-alt" data-toggle="modal" data-target="#myModal">A6-335</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="label label-number-alt" data-toggle="modal" data-target="#myModal">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="label label-number-alt" data-toggle="modal" data-target="#myModal">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><a class="label label-number-alt" data-toggle="modal" data-target="#myModal">A7-345</a>
                                                        </td>
                                                        <td><a href="invoice.html">AC Compressor</a>
                                                        </td>
                                                        <td><a href="invoice.html">Household</a>
                                                        </td>
                                                        <td class="date truncate"><a href="invoice.html">Sep 23, 2016</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>