html{
	overflow-y: initial !important;
}
html,.body{
	background-color:#182745 !important
}
.header .branding{
	width:250px;
}
.main-nav-wrapper{
	width:250px !important;
	background: #182745;
}
.header .branding .logo{
	font-size: 21px;
	font-weight: 500;
	}
.header .utilities-container .item-messages .dropdown-menu {
    right: -75px;
}
.nav-toggled .main-nav-wrapper {
    width: 55px !important;
}
.nav-toggled .container-fluid{
	padding-left: 40px;
}
.nav-toggled .header .branding .logo{
	margin: 2px;
}
.nav-toggled:not(.compact):not(.mobile) .header .branding {
    width: 55px;
}
.nav-toggled:not(.compact):not(.mobile) .content-wrapper {
    margin-left: 55px;
}
.nav-toggled .main-nav-wrapper .main-nav li a{
	padding-left: 18px;
}
.content-wrapper{
	margin-left:250px;
}
.header .branding .logo{
	padding-top:18px;
}
.main-nav-wrapper .main-nav li a:hover {
    text-decoration: none;
    background: #1f396e;
    color: #fff;
}
.header .branding {
    background: #f8a13f;
}
.main-nav-wrapper .main-nav li.active a, 
.mobile .main-nav-wrapper .main-nav li a {
    background: #1f396e;
}
.site-footer {
    position: relative;
    margin-left:0px;
    text-align: center;
}
legend::before {
    content: "";
    background-color: #10C5EC;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -108px;
    z-index: 10;
    border-radius: 50px;
    margin-top: -10px;
	box-shadow: 0px 0px 10px #C3BDBD;
}
.content-wrapper {
    background: #f9f9fb;
    margin-left: 250px;
    margin-right: 0;
    padding-top: 30px;
    padding-bottom:0px;
    transition: margin .4s cubic-bezier(.215,.61,.355,1);
    min-height: auto;
}
.open legend::before {
    background-color: #f8a13f;
    width: 60px;
    height: 60px;
    margin-left: -113px;
}
.valid legend::before {
    background-color: #15AA22;
}
.open legend span  {
    margin-top: 8px;
}
legend span {
    margin-left: -87px;
    z-index: 29;
    position: absolute;
    margin-top: 2px;
    color: #fff;
}
form-section {
    padding: 20px 0px;
}
#accordion form::before {
	content: '';
	position: absolute;
	top: 0;
	left: 135px;
	height:  86%;
	width: 4px;
	background: #d7e4ed;
	margin-top: 100px;
	}
.sect {
    margin: 1px 0px 30px 0px;
    box-shadow: 0px 0px 10px #D5D3D8;
    padding: 30px;
	height: auto;
}
.modal .md-button.md-warn {
    margin-right: 50px;
}
.open{
	    height: AUTO;
}
#sectional {
    width: 80%;
    margin-left: 150px;
}
fieldset {
    margin-top: 1.5em;
	border: none;
	margin: 0.5em 0;
	padding: 0 0 1em 0;
	border-bottom: solid 1px #eeeeee;
}
legend {
    font-weight: bold;
    font-size: 1.3em;
	margin-bottom: 0px;
	border-bottom:0px;
}
main {
    margin: auto;
}
main {
    padding: 10px;
    margin-bottom: 6em;
}
.btn-std, .btn-secondary {
    display: inline-block;
}
.btn-std, .btn-secondary {
    display: inline-block;

}
.modal ul{
	padding-left:0px;
	margin-bottom: 0px;
	list-style:none;
}
.btn-std {
    font-size: 1em;
    padding: 0.5em 1em;
    background-color: white;
    border: solid 2px #333333;
    margin: 0.5em;
    cursor: pointer;
}
.form-section-nav {
    margin-top: 1em;
    text-align: right;
}
md-input-container {
    width: 100%;
	text-transform: uppercase;
}
.md-button{
	border-radius: 0px;
	margin: 10px 0px 35px 50px;
	font-weight: 700;
}
.md-input-container:not(.md-input-invalid).md-input-focused .md-input{
	border-color:#e47911;
}
md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: #f8a13f;
    color: rgba(0,0,0,0.87);
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, 
md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, 
md-input-container:not(.md-input-invalid).md-input-focused label {
    border-color: #f8a13f;
	color:#f8a13f;
}
.modal-dialog {
    width: 650px;
    margin: 30px auto;
}
.cube {
    background-color: #FFA405;
    width: 100%;
    padding: 50px;
    box-shadow: 0px 0px 10px #999;
}
.cube .icon_cart_alt {
    font-size: 50px;
    color: #fff;
    margin: 0px 70px;
}
.cube .icon_loading {
    font-size: 50px;
    color: #fff;
    margin: 0px 75px;
}
.cube .icon_like {
    font-size: 50px;
    color: #fff;
    margin: 0px 75px;
}


/********home page*********/
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.testi-item .testi-box .author-thumb {
    position: absolute;
    left: 10px;
    top: 26px;
    width: 150px;
    height: 156px;
    overflow: hidden;
}
#superfish-main > li::before, 
.introduction .content-box::before, 
.inv-tab-wrapper .nav-tabs li::before,
.progress-bar-wrapper .progress .progress-bar,
#superfish-main::before,
.inquery-region a::before {
    -webkit-transform: skewX(0deg) ;
    -ms-transform: skewX(0deg);
    -o-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    transform: skewX(0deg) !important;
}
#go-to-top::before{
	
}
#go-to-top{}
	
.inquery-region a::before, 
.inv-tab-wrapper .nav-tabs li.active::before,
.how-works-box .inner-content,
.progress-bar-wrapper .progress .progress-bar{
	background: #fff;
border: 2px solid #E4E4E4;
}
.introduction::before{
	background: rgba(244, 122, 52, 0.91);
}
#go-to-top::before{
	
}
.portfolio-item .caption-layer{
	border-top: 5px solid #f47a34;
}

.text-color,.inv-box-shortcode .readmore-box a,
#section-footer .section-inner .contact-info li strong {
    color: #f47a34;
}
/******02-09-16********/
p .carousel-caption {
    display: none;
	background: rgba(32, 46, 49, 0.74);
	padding-bottom: 10px;
	margin-bottom: 0px;
	bottom: 10px;
	right: 8%;
	left: 8%;
	color:#fff;
}
p:hover .carousel-caption {
    display: block;
}
.navbar-inverse {
    background-color: #202E31;
    border-color: #202E31;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #F58634;
}
.navbar-toggle{
	border-radius: 0px;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
	background-color: #F47A34;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #f47a34;
}
.navbar-nav {
    margin: 0px -15px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: 600;
}

.navbar {
    border-radius: 0px;
	border:none;
}
@media screen and (max-width: 500px) {
	.pull-right {
		float:none !important;
		text-align: center;
	}
	.btnsignout{
		padding: 0px 30px;
	}
	.upper-right button {
		padding-top: 4px;
	}
	.btnsignin{
		padding: 0px 10px;
	}
	#section-slider h3 {
		font-size: 13px;
	}
	.carousel-caption{
		bottom: 5px;
		padding-bottom: 6px;
	}
	.inv-icon{
		width: 16px;
		height: 16px;
	}
	.btn-style-one, .btn-style-two{
		padding: 4px 8px !important;
		font-size: 10px;
		
	}
	#myCarousel .carousel-indicators {
		top: 80%;
		}
	#project .carousel-indicators {
		top: 97%;
	}
	.text-right{
		text-align:center;
	}
}