
.view-inbox .side-bar .action{margin-bottom:15px}
.view-inbox .side-bar .folders-wrapper{text-align:center}
.view-inbox .side-bar .folders-wrapper .folders-list{overflow:hidden;margin:0 auto;display:inline-block}
.view-inbox .side-bar .folders-wrapper .folders-list li{display:inline-block;float:left;font-size:14px;margin-bottom:0}
.view-inbox .side-bar .folders-wrapper .folders-list li a{color:#9499a3;padding:10px;display:block}
.view-inbox .side-bar .folders-wrapper .folders-list li a.btn{color:#fff}
.view-inbox .side-bar .folders-wrapper .folders-list li a:hover{color:#494d55;text-decoration:none}
.view-inbox .side-bar .folders-wrapper .folders-list li.active a{color:#40babd;font-weight:700}
.theme-2 .view-inbox .side-bar .folders-wrapper .folders-list li.active a{color:#6dbd63}
.theme-3 .view-inbox .side-bar .folders-wrapper .folders-list li.active a{color:#497cb1}
.theme-4 .view-inbox .side-bar .folders-wrapper .folders-list li.active a{color:#ec6952}
.view-inbox .side-bar .folders-wrapper .folders-list li .icon{font-size:24px;vertical-align:middle;text-align:center;display:block;margin-right:5px}
.view-inbox .side-bar .labels-wrapper{padding-top:30px;text-align:center}
.view-inbox .side-bar .labels-wrapper .sub-title{font-size:14px;margin-top:0;margin-bottom:15px;text-align:center}
.view-inbox .side-bar .labels-wrapper .labels-list{overflow:hidden;display:inline-block;margin:0 auto}
.view-inbox .side-bar .labels-wrapper .labels-list li{display:inline-block;float:left;margin-bottom:10px}
.view-inbox .side-bar .labels-wrapper .labels-list li a{display:block;color:#9499a3;padding:5px}
.view-inbox .side-bar .labels-wrapper .labels-list li a:hover{color:#494d55;text-decoration:none}
.view-inbox .side-bar .labels-wrapper .labels-list li .label-color{width:10px;height:10px;display:inline-block;margin-right:5px}
.view-inbox .content-panel{padding-top:30px}.view-inbox .content-panel .content-header{position:relative}
.view-inbox .content-panel .content-header .title{margin-bottom:30px;margin-top:0}
.view-inbox .content-panel .content-header .search-form{position:absolute;right:0;top:0}
.view-inbox .content-panel .content-header .search-form .form-control{margin-right:5px;height:auto}
.view-inbox .content-panel .content-header .search-form .btn .fa{margin-right:0}
.view-inbox .content-panel .content-utilities{position:relative;margin-bottom:30px}
.view-inbox .content-panel .content-utilities .fa{font-size:16px;margin-right:0}
.view-inbox .content-panel .content-utilities .page-nav{position:absolute;right:0;top:0}
.view-inbox .content-panel .content-utilities .page-nav .indicator{color:#a2a6af;margin-right:5px;display:inline-block}
.view-inbox .content-panel .mails-wrapper .mail-item{position:relative;padding:10px;border-bottom:1px solid #f3f3f3;color:#616670;overflow:hidden}
.view-inbox .content-panel .mails-wrapper .mail-item>div{float:left}
.view-inbox .content-panel .mails-wrapper .mail-item .icheck{background-color:#fff}
.view-inbox .content-panel .mails-wrapper .mail-item:hover{background:#f9f9fb}
.view-inbox .content-panel .mails-wrapper .mail-item:nth-child(even){background:#fcfcfd}
.view-inbox .content-panel .mails-wrapper .mail-item:nth-child(even):hover{background:#f9f9fb}
.view-inbox .content-panel .mails-wrapper .mail-item a{color:#616670}
.view-inbox .content-panel .mails-wrapper .mail-item a:hover{color:#494d55;text-decoration:none}
.view-inbox .content-panel .mails-wrapper .mail-item .checkbox-container,
.view-inbox .content-panel .mails-wrapper .mail-item .star-container{display:inline-block;margin-right:5px}
.view-inbox .content-panel .mails-wrapper .mail-item .star-container .fa{color:#a2a6af;font-size:16px;vertical-align:middle}
.view-inbox .content-panel .mails-wrapper .mail-item .star-container .fa.fa-star{color:#f2b542}
.view-inbox .content-panel .mails-wrapper .mail-item .star-container .fa:hover{color:#868c97}
.view-inbox .content-panel .mails-wrapper .mail-item .mail-to{display:inline-block;margin-right:5px;min-width:120px}
.view-inbox .content-panel .mails-wrapper .mail-item .mail-subject{display:inline-block;margin-right:5px}
.view-inbox .content-panel .mails-wrapper .mail-item .mail-subject .label{margin-right:5px}
.view-inbox .content-panel .mails-wrapper .mail-item .mail-subject .label:last-child{margin-right:10px}
.view-inbox .content-panel .mails-wrapper .mail-item .mail-subject .label a,
.view-inbox .content-panel .mails-wrapper .mail-item .mail-subject .label a:hover{color:#fff}
.view-inbox .content-panel .mails-wrapper .mail-item .mail-subject .label-color-1{background:#f77b6b}
.view-inbox .content-panel .mails-wrapper .mail-item .mail-subject .label-color-2{background:#58bbee}
.view-inbox .content-panel .mails-wrapper .mail-item .mail-subject .label-color-3{background:#f8a13f}
.view-inbox .content-panel .mails-wrapper .mail-item .mail-subject .label-color-4{background:#ea5395}
.view-inbox .content-panel .mails-wrapper .mail-item .mail-subject .label-color-5{background:#8a40a7}
.view-inbox .content-panel .mails-wrapper .mail-item .time-container{display:inline-block;position:absolute;right:10px;top:10px;color:#a2a6af;text-align:left}
.view-inbox .content-panel .mails-wrapper .mail-item .time-container .attachment-container{display:inline-block;color:#a2a6af}
.view-inbox .content-panel .mails-wrapper .mail-item .time-container .time{display:inline-block;text-align:right}
.view-inbox .content-panel .mails-wrapper .mail-item .time-container .time.today{font-weight:700;color:#494d55}
.modal-fullscreen-button{cursor:pointer}
@media (max-width:767px){
.view-inbox .content-panel .content-utilities .page-nav{position:static;margin-top:15px}
.view-inbox .content-panel .content-header .search-form{position:static;margin-bottom:20px}
.view-inbox .content-panel .content-header .search-form .form-control{width:120px}
.view-inbox .mail-subject{max-width:100px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.view-inbox .content-panel .mails-wrapper .mail-item .time-container{position:static}
}
@media (min-width:768px){
.view-inbox .mail-subject{max-width:200px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
}
@media (min-width:992px){
.view-inbox .side-bar .folders-wrapper .folders-list li{display:block;border-bottom:1px solid #f3f3f7}
.view-inbox .side-bar .folders-wrapper .folders-list li .icon{display:inline-block}
.view-inbox .side-bar .folders-wrapper .folders-list li a{padding:10px 15px}
.view-inbox .side-bar .labels-wrapper .subtitle{text-align:left}
.view-inbox .side-bar .labels-wrapper .labels-list li{border-bottom:1px solid #f3f3f7;display:block}
.view-inbox .side-bar .labels-wrapper .labels-list li a{padding:5px 10px}
.view-inbox .mail-subject{max-width:280px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.view-inbox .side-bar{width:160px;min-height:600px;padding-bottom:30px;position:absolute;padding-right:10px;padding-top:30px}
.view-inbox .content-panel{min-height:800px;border-left:1px solid #f3f3f7;margin-left:160px;padding:30px;padding-right:15px}
.modal-fullscreen .wysihtml5-sandbox{height:300px!important}
}