@media only screen and (max-width: 500px) {
.main-nav-wrapper {
    width: 0px !important;
}
legend::before {
	width: 35px;
    height: 35px;
	margin-left: -72px;
    border-radius: 50px;
    margin-top: -5px;
}
form::before {
    left: 24px;
    height: 73%;
    width: 4px;
    margin-top: 110px;
}
.open legend::before {
    width: 40px;
    height: 40px;
    margin-left: -75px;
}
#sectional {
    width: auto;
    margin-left: 25px;
}

}